In [1]:
import pandas as pd
from ast import literal_eval
from datetime import datetime
import timestring
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dirty_data = pd.read_csv('Group017_dirty_data.csv')
outlier_data = pd.read_csv('Group017_outlier_data.csv')

In [3]:
dirty_data.describe()

,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,496.215100,-30.753928,143.504939,0.122000,8.821536,13.909427
std,285.920345,25.336588,16.298470,0.327614,1.721933,2.492537
min,29.500000,-37.833482,-37.809475,0.000000,3.554000,4.416368
25%,268.750000,-37.818139,144.949985,0.000000,7.828750,12.549057
50%,438.000000,-37.811960,144.963857,0.000000,8.801500,13.974469
75%,670.050000,-37.803914,144.982768,0.000000,9.892000,15.612416
max,1411.000000,144.972017,145.019877,1.000000,14.095000,21.316415

### 1. date

In [3]:
def todate(row):
    datetimestr = row.date
    date = ''
    try:
          date = str(datetime.strptime(datetimestr, '%Y-%m-%d' ))[:10]

#         date = datetime.strptime(datetimestr, '%d-%m-%y %H:%M:%S')
    except: 
        try: 
            date = str(datetime.strptime(datetimestr, '%d-%m-%y'))[0:10]
        except: 
            try:
                date = str(datetime.strptime(datetimestr, '%Y-%d-%m'))[0:10]
            except:
                try:
                    date = str(datetime.strptime(datetimestr, '%d-%m-%Y'))[0:10]
                except:
                    print(row)
                    
    return date

#     except: 
#         print('exception')

In [4]:
dirty_data.date =  dirty_data.apply(todate, axis = 1)

In [5]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDC03597,2018-10-28,17:58:18,Lunch,NS,"[('Fish&Chips', 3), ('Salmon', 1), ('Shrimp', 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[('Pancake', 10), ('Cereal', 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[('Eggs', 7), ('Pancake', 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[('Coffee', 7), ('Pancake', 1)]",76.75,37.804479,144.973207,0,9.657,11.680867
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[('Chicken', 8), ('Steak', 4), ('Fries', 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[('Chicken', 6), ('Salad', 3), ('Steak', 1), (...",613.60,-37.809597,144.953554,0,8.723,12.363141
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[('Cereal', 2), ('Eggs', 8), ('Coffee', 2), ('...",378.50,-37.805672,144.957139,0,7.813,12.661871
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[('Fries', 9), ('Burger', 1), ('Salad', 4), ('...",252.80,-37.808617,144.948207,0,8.777,16.749657
8,ORDK09302,2018-05-19,12:33:48,Lunch,tp,"[('Salad', 10), ('Chicken', 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278
9,ORDY06134,2018-07-16,14:25:21,Lunch,ns,"[('Chicken', 2), ('Burger', 6), ('Salad', 4), ...",693.80,-37.821505,144.969280,0,7.772,11.211580
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[('Salad', 6), ('Steak', 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[('Pancake', 8), ('Coffee', 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[('Coffee', 7), ('Cereal', 2), ('Pancake', 4),...",213.50,-37.823631,144.967342,0,7.841,10.290269
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[('Fish&Chips', 10), ('Shrimp', 10), ('Burger'...",1411.00,-37.825981,145.017351,0,12.183,17.734468
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[('Fries', 10), ('Burger', 8), ('Salad', 2), (...",659.40,-37.816386,144.967125,0,7.591,13.584315
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[('Fries', 10), ('Burger', 9), ('Salad', 7), (...",564.40,-37.824209,144.984207,0,8.927,12.561799
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[('Cereal', 1), ('Salad', 2), ('Burger', 3)]",159.40,-37.822204,144.975708,0,9.146,14.308930
17,ORDB09538,2018-01-21,08:40:33,Breakfast,TP,"[('Pancake', 2), ('Eggs', 4), ('Coffee', 4), (...",376.50,-37.803475,144.967472,0,9.685,13.807112
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[('Salmon', 9), ('Shrimp', 6), ('Fish&Chips', 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[('Burger', 2), ('Fries', 7), ('Steak', 9), ('...",619.80,-37.821316,145.012274,0,11.859,16.359951
20,ORDK08729,2018-10-20,17:38:01,Lunch,BK,"[('Fish&Chips', 6), ('Pasta', 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[('Shrimp', 7), ('Pasta', 8), ('Salmon', 10), ...",1218.00,-37.822139,145.015550,0,12.170,15.564740
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[('Shrimp', 6), ('Pasta', 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[('Chicken', 9), ('Shrimp', 9), ('Fish&Chips',...",1030.00,-37.813373,145.008762,0,3.554,10.058129
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[('Salmon', 8), ('Shrimp', 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570
25,ORDA10400,2018-06-19,13:34:38,Lunch,ns,"[('Steak', 3), ('Salad', 5), ('Burger', 7), ('...",470.00,-37.824005,145.002052,0,5.194,10.780248
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[('Fish&Chips', 1), ('Shrimp', 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[('Salad', 5), ('Burger', 3)]",179.00,37.824365,144.954173,0,8.213,11.462362
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[('Pasta', 5), ('Coffee', 1), ('Pancake', 3), ...",232.25,-37.810551,144.955963,0,8.204,13.330472
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[('Burger', 3), ('Chicken', 8), ('Salad', 7), ...",919.40,-37.816492,144.966926,0,7.845,11.955862
...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[('Pancake', 10), ('Cereal', 2), ('Eggs', 5)]",355.25,-37.811851,144.967496,0,7.235,11.903098
471,ORDA03006,2018-01-03,08:00:00,Breakfast,BK,"[('Eggs', 4), ('Coffee', 4), ('Pancake', 4)]",786.00,-37.800756,145.018672,1,5.577,5.217972
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[('Fries', 8), ('Chicken', 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[('Pasta', 6), ('Fish&Chips', 1), ('Shrimp', 3)]",362.00,-37.802221,144.965679,0,8.016,14.367322
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[('Coffee', 9), ('Eggs', 9), ('Cereal', 10), (...",431.00,-37.807049,144.958306,0,9.060,11.682699
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[('Pancake', 8), ('Coffee', 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[('Fish&Chips', 6), ('Salmon', 2), ('Shrimp', ...",890.00,-37.800654,144.953847,0,8.621,15.294883
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[('Steak', 4), ('Chicken', 6), ('Fries', 1), (...",601.00,-37.809131,144.932082,0,10.339,19.214546
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[('Pancake', 4), ('Cereal', 3), ('Fish&Chips',...",403.00,-37.799308,144.959241,0,8.430,13.122579
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[('Chicken', 7), ('Fries', 5), ('Burger', 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[('Fish&Chips', 8), ('Pasta', 9), ('Shrimp', 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[('Salad', 1), ('Chicken', 8), ('Steak', 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399
482,ORDY04378,2018-01-01,08:00:00,Breakfast,TP,"[('Coffee', 1), ('Cereal', 4), ('Pancake', 7),...",327.25,-37.821343,144.946356,1,9.039,5.541174
483,ORDX05552,2018-05-20,12:33:48,Lunch,ns,"[('Fries', 5), ('Burger', 2), ('Chicken', 1), ...",257.20,-37.802040,144.957089,0,8.201,16.961391
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[('Steak', 6), ('Salad', 7), ('Fries', 3), ('B...",414.40,-37.803995,144.936298,0,9.818,15.443582
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[('Pasta', 10), ('Shrimp', 7), ('Salmon', 8), ...",1331.00,-37.799570,145.010850,0,10.042,17.880344
486,ORDK03685,2018-12-25,19:49:51,Dinner,ns,"[('Pasta', 10), ('Salmon', 10), ('Shrimp', 7),...",1203.00,-37.805095,144.968556,0,7.098,14.297638
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[('Burger', 3), ('Steak', 2), ('Fries', 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815
488,ORDX08676,2018-08-27,15:56:37,Breakfast,BK,"[('Fries', 1), ('Steak', 1), ('Chicken', 6), (...",459.00,-37.820555,144.953218,0,9.022,15.561445
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[('Fish&Chips', 5), ('Salmon', 5), ('Shrimp', 2)]",488.00,37.811465,144.952862,0,8.475,16.465577
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[('Pasta', 6), ('Shrimp', 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[('Steak', 9), ('Chicken', 5), ('Salad', 3), (...",676.60,-37.811784,144.949121,0,8.809,14.066580
492,ORDZ03335,2018-12-29,20:00:00,Lunch,NS,"[('Shrimp', 7), ('Fish&Chips', 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[('Salad', 2), ('Chicken', 1), ('Burger', 3), ...",636.40,-37.803573,144.949700,0,8.338,15.374436
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[('Pancake', 8), ('Cereal', 2), ('Coffee', 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[('Chicken', 10), ('Salad', 4), ('Fries', 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[('Eggs', 10), ('Pancake', 3), ('Fish&Chips', 8)]",460.75,-37.810628,144.977580,0,9.161,11.125002
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[('Salad', 7), ('Fries', 9), ('Chicken', 2), (...",928.40,-37.803038,145.004495,0,9.360,15.206839
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[('Pasta', 2), ('Fish&Chips', 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943
499,ORDK05867,2018-06-27,13:44:47,Breakfast,BK,"[('Fries', 2), ('Steak', 3), ('Burger', 2), ('...",435.00,-37.807116,144.987663,0,5.505,10.758233

### 2. order_type

In [6]:
for row in dirty_data.itertuples():
    if(row.order_type == 'Breakfast'):
        if(int(row.time[0:2])>12):
                print(row)
        elif(int(row.time[0:2])==12 and int(row.time[3:5])>1):
                print(row)
        elif(int(row.time[0:2])==12 and int(row.time[3:5])==0 and int(row.time[6:8])>1):
                print(row)
                
                
                
                
                
    if(row.order_type == 'Lunch'):
            if(int(row.time[0:2])<12 or int(row.time[0:2])>16):
                    print(row)
            elif(int(row.time[0:2])==16 and int(row.time[3:5])>1):
                    print(row)
            elif(int(row.time[0:2])==16 and int(row.time[3:5])==0 and int(row.time[6:8])>1):
                    print(row)
                
                
                
                
    if(row.order_type == 'Dinner'):
            if(int(row.time[0:2]))<16:
                    print(row)
#         elif(int(row.time[0:2])==16 and int(row.time[3:5])>1):
#                 print(row)
#         elif(int(row.time[0:2])==16 and int(row.time[3:5])==0 and int(row.time[6:8])>1):
#                 print(row)

Pandas(Index=0, order_id='ORDC03597', date='2018-10-28', time='17:58:18', order_type='Lunch', branch_code='NS', order_items="[('Fish&Chips', 3), ('Salmon', 1), ('Shrimp', 4)]", order_price=362.0, customer_lat=-37.8107373, customer_lon=144.9462583, _10=0, distance_to_customer_KM=9.037, delivery_fee=17.0678333)
Pandas(Index=20, order_id='ORDK08729', date='2018-10-20', time='17:38:01', order_type='Lunch', branch_code='BK', order_items="[('Fish&Chips', 6), ('Pasta', 9)]", order_price=457.5, customer_lat=-37.8081652, customer_lon=144.9729806, _10=0, distance_to_customer_KM=6.545, delivery_fee=15.777474100000001)
Pandas(Index=39, order_id='ORDX08730', date='2018-11-17', time='18:38:52', order_type='Lunch', branch_code='BK', order_items="[('Salmon', 4), ('Shrimp', 9)]", order_price=650.0, customer_lat=-37.816865, customer_lon=144.9289353, _10=0, distance_to_customer_KM=11.828, delivery_fee=21.316414899999998)
Pandas(Index=48, order_id='ORDC06711', date='2018-04-23', time='11:43:05', order_type='Lunch', branch_code='NS', order_items="[('Eggs', 6), ('Coffee', 9), ('Cereal', 7), ('Pancake', 4)]", order_price=443.5, customer_lat=-37.825054200000004, customer_lon=144.99856090000003, _10=0, distance_to_customer_KM=10.5, delivery_fee=15.5037113)
Pandas(Index=54, order_id='ORDC00375', date='2018-10-29', time='17:58:18', order_type='Lunch', branch_code='NS', order_items="[('Pasta', 2), ('Salmon', 10), ('Fish&Chips', 3), ('Shrimp', 8)]", order_price=1002.0, customer_lat=-37.814294399999994, customer_lon=145.0062345, _10=0, distance_to_customer_KM=10.347000000000001, delivery_fee=16.6957891)
Pandas(Index=56, order_id='ORDC04065', date='2018-05-01', time='11:53:14', order_type='Dinner', branch_code='NS', order_items="[('Cereal', 2), ('Coffee', 10), ('Eggs', 6), ('Pancake', 7)]", order_price=418.75, customer_lat=-37.8043725, customer_lon=144.9707605, _10=0, distance_to_customer_KM=7.099, delivery_fee=11.863496699999999)
Pandas(Index=58, order_id='ORDA00471', date='2018-05-04', time='12:03:22', order_type='Dinner', branch_code='BK', order_items="[('Salad', 9), ('Burger', 6), ('Steak', 8), ('Chicken', 7), ('Fries', 2)]", order_price=948.8, customer_lat=-37.801211200000004, customer_lon=144.9928795, _10=0, distance_to_customer_KM=5.657, delivery_fee=11.641944699999998)
Pandas(Index=66, order_id='ORDI01816', date='2018-08-30', time='15:56:37', order_type='Dinner', branch_code='NS', order_items="[('Steak', 9), ('Salad', 10), ('Fries', 9), ('Burger', 2)]", order_price=747.0, customer_lat=-37.8077887, customer_lon=144.9397208, _10=0, distance_to_customer_KM=10.184, delivery_fee=15.919422599999999)
Pandas(Index=78, order_id='ORDJ03713', date='2018-07-03', time='14:05:04', order_type='Breakfast', branch_code='TP', order_items="[('Chicken', 8), ('Fries', 3), ('Salad', 7), ('Burger', 6), ('Steak', 8)]", order_price=958.4, customer_lat=-37.809628100000005, customer_lon=144.96368950000002, _10=0, distance_to_customer_KM=8.644, delivery_fee=12.050099699999999)
Pandas(Index=80, order_id='ORDA10163', date='2018-11-22', time='18:49:00', order_type='Breakfast', branch_code='BK', order_items="[('Salmon', 10), ('Pasta', 7), ('Fish&Chips', 6), ('Shrimp', 8)]", order_price=1244.5, customer_lat=-37.8029407, customer_lon=144.93074919999998, _10=0, distance_to_customer_KM=10.757, delivery_fee=18.2395537)
Pandas(Index=101, order_id='ORDZ00676', date='2018-10-16', time='17:27:53', order_type='Breakfast', branch_code='NS', order_items="[('Salmon', 6), ('Fish&Chips', 4), ('Shrimp', 8), ('Pasta', 8)]", order_price=1038.0, customer_lat=-37.8235824, customer_lon=144.99598569999998, _10=0, distance_to_customer_KM=10.182, delivery_fee=15.6954519)
Pandas(Index=112, order_id='ORDB09231', date='2018-10-09', time='17:17:44', order_type='Breakfast', branch_code='TP', order_items="[('Fish&Chips', 5), ('Shrimp', 2), ('Salmon', 5), ('Pasta', 9)]", order_price=735.5, customer_lat=-37.8119211, customer_lon=144.9522565, _10=0, distance_to_customer_KM=9.088, delivery_fee=13.029734800000002)
Pandas(Index=156, order_id='ORDY02415', date='2018-09-30', time='16:57:27', order_type='Lunch', branch_code='TP', order_items="[('Salmon', 7), ('Pasta', 8), ('Fish&Chips', 10)]", order_price=857.0, customer_lat=-37.824363899999994, customer_lon=144.9916268, _10=0, distance_to_customer_KM=9.675, delivery_fee=15.5430445)
Pandas(Index=175, order_id='ORDC01484', date='2018-05-07', time='12:03:22', order_type='Breakfast', branch_code='NS', order_items="[('Fries', 4), ('Salad', 3)]", order_price=99.6, customer_lat=-37.8157766, customer_lon=144.99506019999998, _10=0, distance_to_customer_KM=9.584, delivery_fee=14.8788962)
Pandas(Index=195, order_id='ORDC07266', date='2018-01-10', time='08:10:08', order_type='Dinner', branch_code='NS', order_items="[('Cereal', 4), ('Coffee', 6), ('Pancake', 3), ('Eggs', 3)]", order_price=267.75, customer_lat=-37.825609299999996, customer_lon=144.9603689, _10=1, distance_to_customer_KM=9.555, delivery_fee=7.231262599999999)
Pandas(Index=202, order_id='ORDC04501', date='2018-01-16', time='08:30:25', order_type='Lunch', branch_code='NS', order_items="[('Eggs', 4), ('Cereal', 8), ('Coffee', 8)]", order_price=316.0, customer_lat=-37.8057182, customer_lon=144.93279280000002, _10=1, distance_to_customer_KM=10.135, delivery_fee=7.0877717)
Pandas(Index=212, order_id='ORDA04939', date='2018-02-13', time='09:21:07', order_type='Lunch', branch_code='BK', order_items="[('Coffee', 3), ('Eggs', 2)]", order_price=66.5, customer_lat=-37.8249474, customer_lon=144.9922858, _10=0, distance_to_customer_KM=6.787000000000001, delivery_fee=11.6738442)
Pandas(Index=216, order_id='ORDC00963', date='2018-10-11', time='17:17:44', order_type='Lunch', branch_code='NS', order_items="[('Fish&Chips', 5), ('Pasta', 8)]", order_price=395.0, customer_lat=-37.81192, customer_lon=144.9535766, _10=0, distance_to_customer_KM=8.412, delivery_fee=14.5668057)
Pandas(Index=218, order_id='ORDY10200', date='2018-03-27', time='10:42:15', order_type='Dinner', branch_code='TP', order_items="[('Coffee', 10), ('Pancake', 7)]", order_price=244.75, customer_lat=-37.8200469, customer_lon=144.95476619999997, _10=0, distance_to_customer_KM=8.276, delivery_fee=11.353710099999999)
Pandas(Index=220, order_id='ORDJ04496', date='2018-12-01', time='19:09:17', order_type='Breakfast', branch_code='TP', order_items="[('Salmon', 4), ('Fish&Chips', 8)]", order_price=444.0, customer_lat=-37.81867020000001, customer_lon=144.9664974, _10=0, distance_to_customer_KM=7.757000000000001, delivery_fee=13.390654199999998)
Pandas(Index=228, order_id='ORDY02981', date='2018-02-25', time='09:41:24', order_type='Dinner', branch_code='TP', order_items="[('Cereal', 3), ('Coffee', 10), ('Eggs', 8)]", order_price=314.0, customer_lat=-37.824583000000004, customer_lon=144.9459414, _10=0, distance_to_customer_KM=8.939, delivery_fee=13.4128704)
Pandas(Index=240, order_id='ORDX05782', date='2018-05-04', time='12:03:22', order_type='Dinner', branch_code='BK', order_items="[('Steak', 7), ('Chicken', 1)]", order_price=347.0, customer_lat=-37.8002592, customer_lon=144.9354195, _10=0, distance_to_customer_KM=12.216, delivery_fee=18.3609762)
Pandas(Index=252, order_id='ORDA09539', date='2018-08-10', time='15:16:03', order_type='Dinner', branch_code='BK', order_items="[('Fries', 4), ('Burger', 5)]", order_price=203.0, customer_lat=-37.8179136, customer_lon=144.95125290000001, _10=0, distance_to_customer_KM=9.097000000000001, delivery_fee=14.994303599999999)
Pandas(Index=291, order_id='ORDJ10475', date='2018-03-31', time='10:52:23', order_type='Lunch', branch_code='TP', order_items="[('Pancake', 4), ('Cereal', 8), ('Coffee', 1), ('Eggs', 1)]", order_price=294.5, customer_lat=-37.8218555, customer_lon=144.9603868, _10=0, distance_to_customer_KM=7.593, delivery_fee=11.6288071)
Pandas(Index=304, order_id='ORDB09255', date='2018-02-03', time='09:00:50', order_type='Lunch', branch_code='TP', order_items="[('Cereal', 8), ('Eggs', 5), ('Pancake', 8), ('Coffee', 8)]", order_price=532.0, customer_lat=-37.8087984, customer_lon=145.00884680000001, _10=0, distance_to_customer_KM=12.052, delivery_fee=15.7702)
Pandas(Index=310, order_id='ORDZ06360', date='2018-12-14', time='19:29:34', order_type='Breakfast', branch_code='NS', order_items="[('Shrimp', 10), ('Salmon', 6), ('Pasta', 2), ('Fish&Chips', 5)]", order_price=1016.0, customer_lat=-37.8194552, customer_lon=145.01596, _10=0, distance_to_customer_KM=12.009, delivery_fee=18.4029665)
Pandas(Index=341, order_id='ORDZ07579', date='2018-12-22', time='19:49:51', order_type='Breakfast', branch_code='NS', order_items="[('Shrimp', 3), ('Salmon', 6), ('Pasta', 10)]", order_price=683.0, customer_lat=-37.81787670000001, customer_lon=144.9465948, _10=0, distance_to_customer_KM=9.47, delivery_fee=17.6645549)
Pandas(Index=352, order_id='ORDY04241', date='2018-08-07', time='15:16:03', order_type='Dinner', branch_code='TP', order_items="[('Steak', 1), ('Salad', 4), ('Chicken', 8), ('Burger', 9), ('Fries', 7)]", order_price=732.8, customer_lat=-37.8115596, customer_lon=144.95720219999998, _10=0, distance_to_customer_KM=8.704, delivery_fee=12.054326300000001)
Pandas(Index=357, order_id='ORDI01216', date='2018-01-07', time='08:10:08', order_type='Lunch', branch_code='NS', order_items="[('Coffee', 6), ('Eggs', 9), ('Pancake', 1)]", order_price=267.25, customer_lat=-37.813666600000005, customer_lon=144.937144, _10=1, distance_to_customer_KM=9.958, delivery_fee=8.8367094)
Pandas(Index=363, order_id='ORDI03827', date='2018-09-11', time='16:27:02', order_type='Lunch', branch_code='NS', order_items="[('Salmon', 7), ('Shrimp', 6), ('Fish&Chips', 5)]", order_price=786.0, customer_lat=-37.8076589, customer_lon=144.97048999999998, _10=0, distance_to_customer_KM=7.005, delivery_fee=13.0915831)
Pandas(Index=370, order_id='ORDB00945', date='2018-04-22', time='11:32:57', order_type='Dinner', branch_code='TP', order_items="[('Pancake', 6), ('Eggs', 4)]", order_price=233.5, customer_lat=-37.82230620000001, customer_lon=144.9967359, _10=0, distance_to_customer_KM=10.148, delivery_fee=14.5889035)
Pandas(Index=401, order_id='ORDK04460', date='2018-07-07', time='14:05:04', order_type='Dinner', branch_code='BK', order_items="[('Fries', 9), ('Salad', 10), ('Chicken', 3), ('Steak', 6)]", order_price=646.0, customer_lat=-37.817806299999994, customer_lon=144.9660039, _10=0, distance_to_customer_KM=7.553999999999999, delivery_fee=15.952813199999998)
Pandas(Index=403, order_id='ORDZ05900', date='2018-12-24', time='19:49:51', order_type='Breakfast', branch_code='NS', order_items="[('Salmon', 8), ('Fish&Chips', 2)]", order_price=398.0, customer_lat=-37.8189706, customer_lon=145.0025804, _10=0, distance_to_customer_KM=10.359000000000002, delivery_fee=16.190597699999998)
Pandas(Index=425, order_id='ORDB05003', date='2018-03-12', time='10:11:49', order_type='Dinner', branch_code='TP', order_items="[('Coffee', 7), ('Eggs', 5), ('Pancake', 2), ('Cereal', 9)]", order_price=400.0, customer_lat=-37.8192464, customer_lon=144.94244880000002, _10=0, distance_to_customer_KM=9.554, delivery_fee=12.8455742)
Pandas(Index=488, order_id='ORDX08676', date='2018-08-27', time='15:56:37', order_type='Breakfast', branch_code='BK', order_items="[('Fries', 1), ('Steak', 1), ('Chicken', 6), ('Burger', 4), ('Salad', 5)]", order_price=459.0, customer_lat=-37.8205549, customer_lon=144.9532181, _10=0, distance_to_customer_KM=9.022, delivery_fee=15.5614449)
Pandas(Index=492, order_id='ORDZ03335', date='2018-12-29', time='20:00:00', order_type='Lunch', branch_code='NS', order_items="[('Shrimp', 7), ('Fish&Chips', 8)]", order_price=658.0, customer_lat=-37.8216102, customer_lon=144.9439044, _10=0, distance_to_customer_KM=10.277999999999999, delivery_fee=18.637709)
Pandas(Index=499, order_id='ORDK05867', date='2018-06-27', time='13:44:47', order_type='Breakfast', branch_code='BK', order_items="[('Fries', 2), ('Steak', 3), ('Burger', 2), ('Chicken', 4), ('Salad', 5)]", order_price=435.0, customer_lat=-37.8071165, customer_lon=144.9876635, _10=0, distance_to_customer_KM=5.505, delivery_fee=10.7582329)

In [7]:
def changeorder_type(row):
        
        if int(row.time[0:2])>8 and int(row.time[0:2])<12:
            return 'Breakfast'
        elif int(row.time[0:2])==12 and int(row.time[3:5])==0 and int(row.time[6:8])==0:
            return 'Breakfast'
        elif int(row.time[0:2])>=12 and int(row.time[0:2])<16:
            return 'Lunch'
        elif int(row.time[0:2])==16 and int(row.time[3:5])==0 and int(row.time[6:8])==0:
            return 'Lunch'
        elif int(row.time[0:2])>=16:
            return 'Dinner'

In [8]:
dirty_data.order_type = dirty_data.apply(changeorder_type, axis = 1)

In [9]:
#Checking
for row in dirty_data.itertuples():
    if(row.order_type == 'Breakfast'):
        if(int(row.time[0:2])>12):
                print(row)
        elif(int(row.time[0:2])==12 and int(row.time[3:5])>1):
                print(row)
        elif(int(row.time[0:2])==12 and int(row.time[3:5])==0 and int(row.time[6:8])>1):
                print(row)
                
                
                
                
                
    if(row.order_type == 'Lunch'):
            if(int(row.time[0:2])<12 or int(row.time[0:2])>16):
                    print(row)
            elif(int(row.time[0:2])==16 and int(row.time[3:5])>1):
                    print(row)
            elif(int(row.time[0:2])==16 and int(row.time[3:5])==0 and int(row.time[6:8])>1):
                    print(row)
                
                
                
                
    if(row.order_type == 'Dinner'):
            if(int(row.time[0:2]))<16:
                    print(row)

In [10]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[('Fish&Chips', 3), ('Salmon', 1), ('Shrimp', 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[('Pancake', 10), ('Cereal', 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[('Eggs', 7), ('Pancake', 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[('Coffee', 7), ('Pancake', 1)]",76.75,37.804479,144.973207,0,9.657,11.680867
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[('Chicken', 8), ('Steak', 4), ('Fries', 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[('Chicken', 6), ('Salad', 3), ('Steak', 1), (...",613.60,-37.809597,144.953554,0,8.723,12.363141
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[('Cereal', 2), ('Eggs', 8), ('Coffee', 2), ('...",378.50,-37.805672,144.957139,0,7.813,12.661871
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[('Fries', 9), ('Burger', 1), ('Salad', 4), ('...",252.80,-37.808617,144.948207,0,8.777,16.749657
8,ORDK09302,2018-05-19,12:33:48,Lunch,tp,"[('Salad', 10), ('Chicken', 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278
9,ORDY06134,2018-07-16,14:25:21,Lunch,ns,"[('Chicken', 2), ('Burger', 6), ('Salad', 4), ...",693.80,-37.821505,144.969280,0,7.772,11.211580
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[('Salad', 6), ('Steak', 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[('Pancake', 8), ('Coffee', 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[('Coffee', 7), ('Cereal', 2), ('Pancake', 4),...",213.50,-37.823631,144.967342,0,7.841,10.290269
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[('Fish&Chips', 10), ('Shrimp', 10), ('Burger'...",1411.00,-37.825981,145.017351,0,12.183,17.734468
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[('Fries', 10), ('Burger', 8), ('Salad', 2), (...",659.40,-37.816386,144.967125,0,7.591,13.584315
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[('Fries', 10), ('Burger', 9), ('Salad', 7), (...",564.40,-37.824209,144.984207,0,8.927,12.561799
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[('Cereal', 1), ('Salad', 2), ('Burger', 3)]",159.40,-37.822204,144.975708,0,9.146,14.308930
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[('Pancake', 2), ('Eggs', 4), ('Coffee', 4), (...",376.50,-37.803475,144.967472,0,9.685,13.807112
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[('Salmon', 9), ('Shrimp', 6), ('Fish&Chips', 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[('Burger', 2), ('Fries', 7), ('Steak', 9), ('...",619.80,-37.821316,145.012274,0,11.859,16.359951
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[('Fish&Chips', 6), ('Pasta', 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[('Shrimp', 7), ('Pasta', 8), ('Salmon', 10), ...",1218.00,-37.822139,145.015550,0,12.170,15.564740
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[('Shrimp', 6), ('Pasta', 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[('Chicken', 9), ('Shrimp', 9), ('Fish&Chips',...",1030.00,-37.813373,145.008762,0,3.554,10.058129
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[('Salmon', 8), ('Shrimp', 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570
25,ORDA10400,2018-06-19,13:34:38,Lunch,ns,"[('Steak', 3), ('Salad', 5), ('Burger', 7), ('...",470.00,-37.824005,145.002052,0,5.194,10.780248
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[('Fish&Chips', 1), ('Shrimp', 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[('Salad', 5), ('Burger', 3)]",179.00,37.824365,144.954173,0,8.213,11.462362
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[('Pasta', 5), ('Coffee', 1), ('Pancake', 3), ...",232.25,-37.810551,144.955963,0,8.204,13.330472
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[('Burger', 3), ('Chicken', 8), ('Salad', 7), ...",919.40,-37.816492,144.966926,0,7.845,11.955862
...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[('Pancake', 10), ('Cereal', 2), ('Eggs', 5)]",355.25,-37.811851,144.967496,0,7.235,11.903098
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[('Eggs', 4), ('Coffee', 4), ('Pancake', 4)]",786.00,-37.800756,145.018672,1,5.577,5.217972
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[('Fries', 8), ('Chicken', 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[('Pasta', 6), ('Fish&Chips', 1), ('Shrimp', 3)]",362.00,-37.802221,144.965679,0,8.016,14.367322
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[('Coffee', 9), ('Eggs', 9), ('Cereal', 10), (...",431.00,-37.807049,144.958306,0,9.060,11.682699
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[('Pancake', 8), ('Coffee', 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[('Fish&Chips', 6), ('Salmon', 2), ('Shrimp', ...",890.00,-37.800654,144.953847,0,8.621,15.294883
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[('Steak', 4), ('Chicken', 6), ('Fries', 1), (...",601.00,-37.809131,144.932082,0,10.339,19.214546
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[('Pancake', 4), ('Cereal', 3), ('Fish&Chips',...",403.00,-37.799308,144.959241,0,8.430,13.122579
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[('Chicken', 7), ('Fries', 5), ('Burger', 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[('Fish&Chips', 8), ('Pasta', 9), ('Shrimp', 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[('Salad', 1), ('Chicken', 8), ('Steak', 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[('Coffee', 1), ('Cereal', 4), ('Pancake', 7),...",327.25,-37.821343,144.946356,1,9.039,5.541174
483,ORDX05552,2018-05-20,12:33:48,Lunch,ns,"[('Fries', 5), ('Burger', 2), ('Chicken', 1), ...",257.20,-37.802040,144.957089,0,8.201,16.961391
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[('Steak', 6), ('Salad', 7), ('Fries', 3), ('B...",414.40,-37.803995,144.936298,0,9.818,15.443582
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[('Pasta', 10), ('Shrimp', 7), ('Salmon', 8), ...",1331.00,-37.799570,145.010850,0,10.042,17.880344
486,ORDK03685,2018-12-25,19:49:51,Dinner,ns,"[('Pasta', 10), ('Salmon', 10), ('Shrimp', 7),...",1203.00,-37.805095,144.968556,0,7.098,14.297638
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[('Burger', 3), ('Steak', 2), ('Fries', 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[('Fries', 1), ('Steak', 1), ('Chicken', 6), (...",459.00,-37.820555,144.953218,0,9.022,15.561445
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[('Fish&Chips', 5), ('Salmon', 5), ('Shrimp', 2)]",488.00,37.811465,144.952862,0,8.475,16.465577
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[('Pasta', 6), ('Shrimp', 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[('Steak', 9), ('Chicken', 5), ('Salad', 3), (...",676.60,-37.811784,144.949121,0,8.809,14.066580
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[('Shrimp', 7), ('Fish&Chips', 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[('Salad', 2), ('Chicken', 1), ('Burger', 3), ...",636.40,-37.803573,144.949700,0,8.338,15.374436
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[('Pancake', 8), ('Cereal', 2), ('Coffee', 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[('Chicken', 10), ('Salad', 4), ('Fries', 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[('Eggs', 10), ('Pancake', 3), ('Fish&Chips', 8)]",460.75,-37.810628,144.977580,0,9.161,11.125002
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[('Salad', 7), ('Fries', 9), ('Chicken', 2), (...",928.40,-37.803038,145.004495,0,9.360,15.206839
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[('Pasta', 2), ('Fish&Chips', 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[('Fries', 2), ('Steak', 3), ('Burger', 2), ('...",435.00,-37.807116,144.987663,0,5.505,10.758233

##### Branch Code

In [11]:
dirty_data.branch_code.value_counts()

TP    172
NS    155
BK    148
ns     12
bk      8
tp      5
Name: branch_code, dtype: int64

In [12]:
dirty_data.branch_code.replace({'ns':'NS', 'bk':'BK', 'tp':'TP'}, inplace = True)

In [13]:
dirty_data.branch_code.value_counts()

TP    177
NS    167
BK    156
Name: branch_code, dtype: int64

In [14]:
for row in dirty_data.itertuples():
    if((row.order_id[:4]=='ORDA' or row.order_id[:4]=='ORDK' or row.order_id[:4]=='ORDX') and row.branch_code != 'BK'):
        print(row)
    elif((row.order_id[:4]=='ORDB' or row.order_id[:4]=='ORDJ' or row.order_id[:4]=='ORDY')and row.branch_code != 'TP') :
        print(row)
    elif((row.order_id[:4]=='ORDC' or row.order_id[:4]=='ORDI' or row.order_id[:4]=='ORDZ')and row.branch_code != 'NS') :
        print(row)

Pandas(Index=8, order_id='ORDK09302', date='2018-05-19', time='12:33:48', order_type='Lunch', branch_code='TP', order_items="[('Salad', 10), ('Chicken', 3)]", order_price=268.0, customer_lat=-37.8134003, customer_lon=144.9534121, _10=0, distance_to_customer_KM=8.488, delivery_fee=16.8632784)
Pandas(Index=9, order_id='ORDY06134', date='2018-07-16', time='14:25:21', order_type='Lunch', branch_code='NS', order_items="[('Chicken', 2), ('Burger', 6), ('Salad', 4), ('Fries', 5), ('Steak', 7)]", order_price=693.8, customer_lat=-37.8215051, customer_lon=144.9692796, _10=0, distance_to_customer_KM=7.772, delivery_fee=11.211580300000001)
Pandas(Index=25, order_id='ORDA10400', date='2018-06-19', time='13:34:38', order_type='Lunch', branch_code='NS', order_items="[('Steak', 3), ('Salad', 5), ('Burger', 7), ('Chicken', 1)]", order_price=470.0, customer_lat=-37.8240055, customer_lon=145.0020524, _10=0, distance_to_customer_KM=5.194, delivery_fee=10.780248)
Pandas(Index=31, order_id='ORDX07973', date='2018-02-09', time='09:10:59', order_type='Breakfast', branch_code='TP', order_items="[('Pancake', 8), ('Cereal', 4), ('Coffee', 7), ('Eggs', 4)]", order_price=418.5, customer_lat=-37.8128422, customer_lon=144.96795219999998, _10=0, distance_to_customer_KM=7.273, delivery_fee=12.5811208)
Pandas(Index=46, order_id='ORDI07369', date='2018-04-18', time='11:32:57', order_type='Breakfast', branch_code='BK', order_items="[('Eggs', 1), ('Cereal', 5), ('Pancake', 9), ('Coffee', 7)]", order_price=397.75, customer_lat=-37.8039159, customer_lon=144.96996140000002, _10=0, distance_to_customer_KM=6.63, delivery_fee=11.7003514)
Pandas(Index=102, order_id='ORDC08241', date='2018-10-02', time='17:07:36', order_type='Dinner', branch_code='BK', order_items="[('Pasta', 4), ('Salmon', 8), ('Shrimp', 8)]", order_price=870.0, customer_lat=-37.8123696, customer_lon=144.9736957, _10=0, distance_to_customer_KM=7.5729999999999995, delivery_fee=13.438823699999999)
Pandas(Index=106, order_id='ORDJ08707', date='2018-02-20', time='09:41:24', order_type='Breakfast', branch_code='BK', order_items="[('Cereal', 9), ('Coffee', 1)]", order_price=196.5, customer_lat=-37.8061677, customer_lon=144.9584226, _10=0, distance_to_customer_KM=9.064, delivery_fee=12.046707699999999)
Pandas(Index=145, order_id='ORDB07953', date='2018-10-22', time='17:48:10', order_type='Dinner', branch_code='NS', order_items="[('Shrimp', 1), ('Fish&Chips', 3), ('Pasta', 10), ('Salmon', 3)]", order_price=557.0, customer_lat=-37.814128000000004, customer_lon=144.93883799999998, _10=0, distance_to_customer_KM=10.263, delivery_fee=13.991825699999998)
Pandas(Index=158, order_id='ORDB08054', date='2018-09-28', time='16:57:27', order_type='Dinner', branch_code='NS', order_items="[('Shrimp', 8), ('Pasta', 1)]", order_price=459.5, customer_lat=-37.8086451, customer_lon=144.9453811, _10=0, distance_to_customer_KM=9.847000000000001, delivery_fee=13.331254999999999)
Pandas(Index=178, order_id='ORDZ03145', date='2018-07-01', time='13:54:55', order_type='Lunch', branch_code='BK', order_items="[('Steak', 2), ('Burger', 10), ('Salad', 7), ('Fries', 3), ('Chicken', 5)]", order_price=716.4, customer_lat=-37.804764899999995, customer_lon=144.93267980000002, _10=0, distance_to_customer_KM=10.122, delivery_fee=17.3077704)
Pandas(Index=188, order_id='ORDY10480', date='2018-02-12', time='09:21:07', order_type='Breakfast', branch_code='NS', order_items="[('Coffee', 7), ('Pancake', 8)]", order_price=246.5, customer_lat=-37.827090999999996, customer_lon=144.9749192, _10=0, distance_to_customer_KM=8.683, delivery_fee=11.1968496)
Pandas(Index=204, order_id='ORDY07635', date='2018-12-15', time='19:29:34', order_type='Dinner', branch_code='BK', order_items="[('Shrimp', 2), ('Pasta', 4)]", order_price=218.0, customer_lat=-37.8200685, customer_lon=144.9607348, _10=0, distance_to_customer_KM=7.627999999999999, delivery_fee=13.9395538)
Pandas(Index=223, order_id='ORDB08409', date='2018-09-09', time='16:16:54', order_type='Dinner', branch_code='BK', order_items="[('Pasta', 1), ('Shrimp', 1), ('Salmon', 10)]", order_price=491.5, customer_lat=-37.818092, customer_lon=145.004087, _10=0, distance_to_customer_KM=11.037, delivery_fee=16.4715816)
Pandas(Index=233, order_id='ORDX09376', date='2018-04-27', time='11:43:05', order_type='Breakfast', branch_code='TP', order_items="[('Coffee', 5), ('Eggs', 3)]", order_price=103.5, customer_lat=-37.8119045, customer_lon=145.0035363, _10=0, distance_to_customer_KM=3.9219999999999997, delivery_fee=9.0295876)
Pandas(Index=296, order_id='ORDY07815', date='2018-06-20', time='13:34:38', order_type='Lunch', branch_code='NS', order_items="[('Fries', 4), ('Steak', 1), ('Chicken', 6), ('Burger', 10)]", order_price=595.0, customer_lat=-37.8019615, customer_lon=144.97076130000002, _10=0, distance_to_customer_KM=9.845, delivery_fee=13.4821973)
Pandas(Index=308, order_id='ORDZ10998', date='2018-03-10', time='10:11:49', order_type='Breakfast', branch_code='BK', order_items="[('Coffee', 8), ('Cereal', 9), ('Pancake', 7), ('Eggs', 4)]", order_price=506.75, customer_lat=-37.8127158, customer_lon=144.98161069999998, _10=0, distance_to_customer_KM=8.189, delivery_fee=14.958062900000002)
Pandas(Index=321, order_id='ORDA01397', date='2018-06-22', time='13:44:47', order_type='Lunch', branch_code='TP', order_items="[('Burger', 4), ('Steak', 4), ('Salad', 10), ('Chicken', 2), ('Fries', 1)]", order_price=552.0, customer_lat=-37.810354, customer_lon=145.0100563, _10=0, distance_to_customer_KM=3.752, delivery_fee=9.3813567)
Pandas(Index=330, order_id='ORDJ01247', date='2018-06-02', time='13:04:13', order_type='Lunch', branch_code='BK', order_items="[('Chicken', 7), ('Burger', 7), ('Fries', 5), ('Steak', 2)]", order_price=591.0, customer_lat=-37.8177259, customer_lon=144.96627990000002, _10=0, distance_to_customer_KM=7.654, delivery_fee=12.669734599999998)
Pandas(Index=345, order_id='ORDK05735', date='2018-02-18', time='09:31:16', order_type='Breakfast', branch_code='TP', order_items="[('Coffee', 3), ('Pancake', 3), ('Eggs', 9), ('Cereal', 1)]", order_price=314.25, customer_lat=-37.8065706, customer_lon=144.94498059999998, _10=0, distance_to_customer_KM=9.205, delivery_fee=16.4895949)
Pandas(Index=350, order_id='ORDZ02174', date='2018-06-18', time='13:34:38', order_type='Lunch', branch_code='BK', order_items="[('Steak', 10), ('Burger', 7), ('Fries', 10), ('Salad', 10), ('Chicken', 5)]", order_price=1119.0, customer_lat=-37.814710999999996, customer_lon=144.9635619, _10=0, distance_to_customer_KM=8.083, delivery_fee=13.849622)
Pandas(Index=351, order_id='ORDA02942', date='2018-02-01', time='09:00:50', order_type='Breakfast', branch_code='NS', order_items="[('Pancake', 9), ('Cereal', 6), ('Coffee', 4)]", order_price=374.25, customer_lat=-37.7994579, customer_lon=144.9596991, _10=0, distance_to_customer_KM=8.402000000000001, delivery_fee=13.246021599999999)
Pandas(Index=396, order_id='ORDK08013', date='2018-03-04', time='10:01:41', order_type='Breakfast', branch_code='NS', order_items="[('Cereal', 5), ('Coffee', 10), ('Eggs', 6)]", order_price=312.0, customer_lat=-37.8131224, customer_lon=145.0139936, _10=0, distance_to_customer_KM=3.781, delivery_fee=11.366188699999999)
Pandas(Index=404, order_id='ORDJ00555', date='2018-01-20', time='08:30:25', order_type=None, branch_code='NS', order_items="[('Cereal', 1), ('Coffee', 10), ('Pancake', 4)]", order_price=193.0, customer_lat=-37.8008069, customer_lon=144.9735614, _10=0, distance_to_customer_KM=10.162, delivery_fee=14.1474052)
Pandas(Index=408, order_id='ORDI03700', date='2018-08-05', time='15:05:54', order_type='Lunch', branch_code='TP', order_items="[('Steak', 2), ('Salad', 2)]", order_price=124.4, customer_lat=-37.8164523, customer_lon=144.949172, _10=0, distance_to_customer_KM=9.324, delivery_fee=16.223347099999998)
Pandas(Index=410, order_id='ORDJ03879', date='2018-02-14', time='09:21:07', order_type='Breakfast', branch_code='BK', order_items="[('Coffee', 7), ('Pancake', 10), ('Cereal', 9)]", order_price=484.0, customer_lat=-37.8113305, customer_lon=144.9629945, _10=0, distance_to_customer_KM=8.494, delivery_fee=11.363290600000001)
Pandas(Index=431, order_id='ORDJ02110', date='2018-11-19', time='18:38:52', order_type='Dinner', branch_code='BK', order_items="[('Fish&Chips', 4), ('Pasta', 6), ('Salmon', 1)]", order_price=346.0, customer_lat=-37.818727700000004, customer_lon=145.0056801, _10=0, distance_to_customer_KM=11.137, delivery_fee=15.049211699999999)
Pandas(Index=466, order_id='ORDB09594', date='2018-09-16', time='16:27:02', order_type='Dinner', branch_code='NS', order_items="[('Salmon', 4), ('Pasta', 7)]", order_price=356.5, customer_lat=-37.8128634, customer_lon=144.9563551, _10=0, distance_to_customer_KM=8.578, delivery_fee=14.0177525)
Pandas(Index=483, order_id='ORDX05552', date='2018-05-20', time='12:33:48', order_type='Lunch', branch_code='NS', order_items="[('Fries', 5), ('Burger', 2), ('Chicken', 1), ('Salad', 6)]", order_price=257.2, customer_lat=-37.8020399, customer_lon=144.9570886, _10=0, distance_to_customer_KM=8.201, delivery_fee=16.9613908)
Pandas(Index=486, order_id='ORDK03685', date='2018-12-25', time='19:49:51', order_type='Dinner', branch_code='NS', order_items="[('Pasta', 10), ('Salmon', 10), ('Shrimp', 7), ('Fish&Chips', 4)]", order_price=1203.0, customer_lat=-37.805095200000004, customer_lon=144.9685561, _10=0, distance_to_customer_KM=7.098, delivery_fee=14.297638099999999)

In [15]:
outlier_data['order_id']= outlier_data.order_id.apply(lambda x:x[0:4])

In [16]:
outlier_data.groupby(['order_id', 'branch_code']).size()

order_id  branch_code
ORDA      BK             46
ORDB      TP             57
ORDC      NS             52
ORDI      NS             54
ORDJ      TP             60
ORDK      BK             66
ORDX      BK             52
ORDY      TP             61
ORDZ      NS             52
dtype: int64

In [17]:
def change_branch_code(row):
    if(row.order_id[:4]=='ORDA' or row.order_id[:4]=='ORDK' or row.order_id[:4]=='ORDX'):
        return 'BK'
    elif(row.order_id[:4]=='ORDB' or row.order_id[:4]=='ORDJ' or row.order_id[:4]=='ORDY'):
        return 'TP'
    else: 
        return 'NS'

In [18]:
dirty_data.branch_code = dirty_data.apply(change_branch_code, axis = 1)

In [19]:
dirty_data.branch_code.value_counts()

TP    184
NS    161
BK    155
Name: branch_code, dtype: int64

In [20]:
#checking
for row in dirty_data.itertuples():
    if((row.order_id[:4]=='ORDA' or row.order_id[:4]=='ORDK' or row.order_id[:4]=='ORDX') and row.branch_code != 'BK'):
        print(row)
    elif((row.order_id[:4]=='ORDB' or row.order_id[:4]=='ORDJ' or row.order_id[:4]=='ORDY')and row.branch_code != 'TP') :
        print(row)
    elif((row.order_id[:4]=='ORDC' or row.order_id[:4]=='ORDI' or row.order_id[:4]=='ORDZ')and row.branch_code != 'NS') :
        print(row)

##### Order Items

In [21]:
dirty_data.order_items = dirty_data.order_items.apply(lambda x: literal_eval(x))

In [22]:
outlier_data.order_items = outlier_data.order_items.apply(lambda x: literal_eval(x))

In [23]:
lunchitems = []
breakfastitems = []
dinneritems = []

In [24]:
for item in np.unique(outlier_data[outlier_data.order_type == 'Lunch'].order_items):
    for food in item: 
        lunchitems.append(food[0])

In [25]:
lunchitems = np.unique(lunchitems)

In [26]:
for item in np.unique(outlier_data[outlier_data.order_type == 'Dinner'].order_items):
    for food in item: 
        dinneritems.append(food[0])
dinneritems = np.unique(dinneritems)

In [27]:
for item in np.unique(outlier_data[outlier_data.order_type == 'Breakfast'].order_items):
    for food in item: 
        breakfastitems.append(food[0])
breakfastitems = np.unique(breakfastitems)

In [28]:
print(lunchitems)
print(breakfastitems)
print(dinneritems)

['Burger' 'Chicken' 'Fries' 'Salad' 'Steak']
['Cereal' 'Coffee' 'Eggs' 'Pancake']
['Fish&Chips' 'Pasta' 'Salmon' 'Shrimp']

In [29]:
def fix_order_items(row):
    order_items = row.order_items
    method = row.order_type
#     print(method)
    if(method == 'Lunch'):
        for item in order_items:
            if item[0] not in lunchitems:
                order_items.remove(item)
#             return order_items
    if(method == 'Dinner'):
        for item in order_items:
            if item[0] not in dinneritems:
                order_items.remove(item)
#             return order_items   
    if(method == 'Breakfast'):
#         print(order_items)
        for item in order_items:
            if item[0] in breakfastitems:
                pass
            else:
                order_items.remove(item)
                print(item)
#                 print(order_items)
    return order_items

In [30]:
dirty_data.order_items = dirty_data.apply(fix_order_items, axis = 1)

('Pasta', 5)
('Fries', 1)
('Salad', 6)
('Salmon', 5)
('Shrimp', 9)
('Fish&Chips', 2)
('Steak', 9)
('Steak', 5)
('Salad', 9)
('Burger', 9)
('Fish&Chips', 6)
('Fish&Chips', 8)

In [31]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[(Fish&Chips, 3), (Salmon, 1), (Shrimp, 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[(Pancake, 10), (Cereal, 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[(Eggs, 7), (Pancake, 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 7), (Pancake, 1)]",76.75,37.804479,144.973207,0,9.657,11.680867
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[(Chicken, 8), (Steak, 4), (Fries, 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[(Chicken, 6), (Salad, 3), (Steak, 1), (Fries,...",613.60,-37.809597,144.953554,0,8.723,12.363141
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[(Cereal, 2), (Eggs, 8), (Coffee, 2), (Pancake...",378.50,-37.805672,144.957139,0,7.813,12.661871
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[(Fries, 9), (Burger, 1), (Salad, 4), (Steak, 1)]",252.80,-37.808617,144.948207,0,8.777,16.749657
8,ORDK09302,2018-05-19,12:33:48,Lunch,BK,"[(Salad, 10), (Chicken, 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278
9,ORDY06134,2018-07-16,14:25:21,Lunch,TP,"[(Chicken, 2), (Burger, 6), (Salad, 4), (Fries...",693.80,-37.821505,144.969280,0,7.772,11.211580
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[(Salad, 6), (Steak, 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[(Pancake, 8), (Coffee, 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[(Coffee, 7), (Cereal, 2), (Pancake, 4), (Eggs...",213.50,-37.823631,144.967342,0,7.841,10.290269
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[(Fish&Chips, 10), (Shrimp, 10), (Pasta, 10)]",1411.00,-37.825981,145.017351,0,12.183,17.734468
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[(Fries, 10), (Burger, 8), (Salad, 2), (Steak,...",659.40,-37.816386,144.967125,0,7.591,13.584315
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[(Fries, 10), (Burger, 9), (Salad, 7), (Steak,...",564.40,-37.824209,144.984207,0,8.927,12.561799
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[(Salad, 2), (Burger, 3)]",159.40,-37.822204,144.975708,0,9.146,14.308930
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[(Pancake, 2), (Eggs, 4), (Coffee, 4), (Cereal...",376.50,-37.803475,144.967472,0,9.685,13.807112
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[(Salmon, 9), (Shrimp, 6), (Fish&Chips, 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[(Burger, 2), (Fries, 7), (Steak, 9), (Salad, 4)]",619.80,-37.821316,145.012274,0,11.859,16.359951
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[(Fish&Chips, 6), (Pasta, 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[(Shrimp, 7), (Pasta, 8), (Salmon, 10), (Fish&...",1218.00,-37.822139,145.015550,0,12.170,15.564740
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[(Shrimp, 6), (Pasta, 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[(Shrimp, 9), (Fish&Chips, 5)]",1030.00,-37.813373,145.008762,0,3.554,10.058129
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[(Salmon, 8), (Shrimp, 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570
25,ORDA10400,2018-06-19,13:34:38,Lunch,BK,"[(Steak, 3), (Salad, 5), (Burger, 7), (Chicken...",470.00,-37.824005,145.002052,0,5.194,10.780248
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[(Fish&Chips, 1), (Shrimp, 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[(Salad, 5), (Burger, 3)]",179.00,37.824365,144.954173,0,8.213,11.462362
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[(Coffee, 1), (Pancake, 3), (Cereal, 2)]",232.25,-37.810551,144.955963,0,8.204,13.330472
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[(Burger, 3), (Chicken, 8), (Salad, 7), (Steak...",919.40,-37.816492,144.966926,0,7.845,11.955862
...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 10), (Cereal, 2), (Eggs, 5)]",355.25,-37.811851,144.967496,0,7.235,11.903098
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[(Eggs, 4), (Coffee, 4), (Pancake, 4)]",786.00,-37.800756,145.018672,1,5.577,5.217972
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[(Fries, 8), (Chicken, 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[(Pasta, 6), (Fish&Chips, 1), (Shrimp, 3)]",362.00,-37.802221,144.965679,0,8.016,14.367322
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 9), (Eggs, 9), (Cereal, 10), (Pancak...",431.00,-37.807049,144.958306,0,9.060,11.682699
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[(Pancake, 8), (Coffee, 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[(Fish&Chips, 6), (Salmon, 2), (Shrimp, 7), (P...",890.00,-37.800654,144.953847,0,8.621,15.294883
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[(Steak, 4), (Chicken, 6), (Fries, 1), (Burger...",601.00,-37.809131,144.932082,0,10.339,19.214546
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 4), (Cereal, 3), (Eggs, 9)]",403.00,-37.799308,144.959241,0,8.430,13.122579
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[(Chicken, 7), (Fries, 5), (Burger, 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[(Fish&Chips, 8), (Pasta, 9), (Shrimp, 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[(Salad, 1), (Chicken, 8), (Steak, 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[(Coffee, 1), (Cereal, 4), (Pancake, 7), (Eggs...",327.25,-37.821343,144.946356,1,9.039,5.541174
483,ORDX05552,2018-05-20,12:33:48,Lunch,BK,"[(Fries, 5), (Burger, 2), (Chicken, 1), (Salad...",257.20,-37.802040,144.957089,0,8.201,16.961391
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[(Steak, 6), (Salad, 7), (Fries, 3), (Burger, ...",414.40,-37.803995,144.936298,0,9.818,15.443582
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[(Pasta, 10), (Shrimp, 7), (Salmon, 8), (Fish&...",1331.00,-37.799570,145.010850,0,10.042,17.880344
486,ORDK03685,2018-12-25,19:49:51,Dinner,BK,"[(Pasta, 10), (Salmon, 10), (Shrimp, 7), (Fish...",1203.00,-37.805095,144.968556,0,7.098,14.297638
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[(Burger, 3), (Steak, 2), (Fries, 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[(Fries, 1), (Steak, 1), (Chicken, 6), (Burger...",459.00,-37.820555,144.953218,0,9.022,15.561445
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[(Fish&Chips, 5), (Salmon, 5), (Shrimp, 2)]",488.00,37.811465,144.952862,0,8.475,16.465577
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[(Pasta, 6), (Shrimp, 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[(Steak, 9), (Chicken, 5), (Salad, 3), (Fries,...",676.60,-37.811784,144.949121,0,8.809,14.066580
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[(Shrimp, 7), (Fish&Chips, 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[(Salad, 2), (Chicken, 1), (Burger, 3), (Steak...",636.40,-37.803573,144.949700,0,8.338,15.374436
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[(Pancake, 8), (Cereal, 2), (Coffee, 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[(Chicken, 10), (Salad, 4), (Fries, 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[(Eggs, 10), (Pancake, 3)]",460.75,-37.810628,144.977580,0,9.161,11.125002
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[(Salad, 7), (Fries, 9), (Chicken, 2), (Steak,...",928.40,-37.803038,145.004495,0,9.360,15.206839
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[(Pasta, 2), (Fish&Chips, 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[(Fries, 2), (Steak, 3), (Burger, 2), (Chicken...",435.00,-37.807116,144.987663,0,5.505,10.758233

##### Order Price

In [38]:
dirty_data[(dirty_data.order_price>1000) & (dirty_data.order_type=='Breakfast')]

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee]
Index: []

In [32]:
a = []
b = []
c=[]
d=[]
f=[]
e = []
g=[]

for data in outlier_data[outlier_data.order_type=='Breakfast'].head(10).itertuples():
    if(len(data.order_items)>3):
        print(sorted(data.order_items))
#         print(data.order_price)
        for x in sorted(data.order_items): 
            a.append(x[1])
        e.append(data.order_price)

print(a)
b = a[4:8]
c = a[8:12]
d = a[12:16]
a = a[:4]
# print(a)

# print(b)
# print(c)
# print(d)
print(e)

x = [a,b,c,d]
solvedeq= np.linalg.solve(x,e)
breakfastitems = list(breakfastitems)
# print(lunchitems)
breakfast_prices = dict()
for item in sorted(breakfastitems):
    breakfast_prices[item]=solvedeq[breakfastitems.index(item)]
        
print(breakfast_prices)

[('Cereal', 5), ('Coffee', 9), ('Eggs', 9), ('Pancake', 2)]
[('Cereal', 5), ('Coffee', 10), ('Eggs', 8), ('Pancake', 4)]
[('Cereal', 1), ('Coffee', 10), ('Eggs', 7), ('Pancake', 4)]
[('Cereal', 7), ('Coffee', 5), ('Eggs', 3), ('Pancake', 1)]
[5, 9, 9, 2, 5, 10, 8, 4, 1, 10, 7, 4, 7, 5, 3, 1]
[419.0, 453.0, 347.0, 274.75]
{'Cereal': 21.0, 'Coffee': 7.500000000000006, 'Eggs': 22.0, 'Pancake': 24.249999999999982}

In [33]:
a = []
b = []
c=[]
d=[]
f=[]
e = []

for data in outlier_data[outlier_data.order_type=='Lunch'].head(20).itertuples():
    if(len(data.order_items)>4):
        print(sorted(data.order_items))
#         print(data.order_price)
        for x in sorted(data.order_items):
#             print(x)
            a.append(x[1])
        e.append(data.order_price)

# print(a)
b = a[5:10]
c = a[10:15]
d = a[15:20]
f = a[20:25]
# print(a)
a = a[:5]

# print(b)
# print(c)
# print(d)
# print(f)
# print(e)
x = [a,b,c,d,f]
solvedeq= np.linalg.solve(x,e)
lunchitems = list(lunchitems)
# print(lunchitems)
lunch_prices = dict()
for item in sorted(lunchitems):
    lunch_prices[item]=solvedeq[lunchitems.index(item)]
        
print(lunch_prices)

[('Burger', 1), ('Chicken', 9), ('Fries', 8), ('Salad', 10), ('Steak', 3)]
[('Burger', 7), ('Chicken', 3), ('Fries', 6), ('Salad', 7), ('Steak', 1)]
[('Burger', 7), ('Chicken', 2), ('Fries', 4), ('Salad', 6), ('Steak', 4)]
[('Burger', 1), ('Chicken', 10), ('Fries', 2), ('Salad', 1), ('Steak', 2)]
[('Burger', 10), ('Chicken', 5), ('Fries', 8), ('Salad', 8), ('Steak', 7)]
{'Burger': 30.999999999999982, 'Chicken': 31.99999999999999, 'Fries': 12.000000000000032, 'Salad': 17.19999999999998, 'Steak': 45.00000000000002}

In [34]:
a = []
b = []
c=[]
d=[]
f=[]
e = []
g=[]

for data in outlier_data[outlier_data.order_type=='Dinner'].head(11).itertuples():
    if(len(data.order_items)>3):
        print(sorted(data.order_items))
#         print(data.order_price)
        for x in sorted(data.order_items): 
            a.append(x[1])
        e.append(data.order_price)

# print(a)
b = a[4:8]
c = a[8:12]
d = a[12:16]
a = a[:4]
# print(a)

# print(b)
# print(c)
# print(d)
# print(e)

x = [a,b,c,d]
solvedeq= np.linalg.solve(x,e)
dinneritems = list(dinneritems)
# print(lunchitems)
dinner_prices = dict()
for item in sorted(dinneritems):
    dinner_prices[item]=solvedeq[dinneritems.index(item)]
        
print(dinner_prices)

[('Fish&Chips', 8), ('Pasta', 3), ('Salmon', 6), ('Shrimp', 2)]
[('Fish&Chips', 6), ('Pasta', 1), ('Salmon', 5), ('Shrimp', 8)]
[('Fish&Chips', 9), ('Pasta', 9), ('Salmon', 9), ('Shrimp', 3)]
[('Fish&Chips', 4), ('Pasta', 10), ('Salmon', 6), ('Shrimp', 4)]
{'Fish&Chips': 35.00000000000004, 'Pasta': 27.500000000000018, 'Salmon': 40.999999999999936, 'Shrimp': 54.00000000000001}

In [35]:
def change_prices(row):
    try: 
        price = 0
        if(row.order_type == 'Breakfast'):
            for item in row.order_items:
                price += breakfast_prices[item[0]]*item[1]
#         print(price)
#         print('hello')
#         print(row.order_price)
    
        if(row.order_type == 'Lunch'):
            for item in row.order_items:
                price += lunch_prices[item[0]]*item[1]
#         print(price)
#         print('hello')
#         print(row.order_price)
    
        if(row.order_type == 'Dinner'):
            for item in row.order_items:
                price += dinner_prices[item[0]]*item[1]
#         print(price)
#         print('hello')
#         print(row.order_price)
#         print(price)
        return price
    except:
        print(row)

In [36]:
dirty_data.order_price = dirty_data.apply(change_prices, axis = 1)

In [37]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[(Fish&Chips, 3), (Salmon, 1), (Shrimp, 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[(Pancake, 10), (Cereal, 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[(Eggs, 7), (Pancake, 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 7), (Pancake, 1)]",76.75,37.804479,144.973207,0,9.657,11.680867
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[(Chicken, 8), (Steak, 4), (Fries, 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[(Chicken, 6), (Salad, 3), (Steak, 1), (Fries,...",613.60,-37.809597,144.953554,0,8.723,12.363141
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[(Cereal, 2), (Eggs, 8), (Coffee, 2), (Pancake...",378.50,-37.805672,144.957139,0,7.813,12.661871
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[(Fries, 9), (Burger, 1), (Salad, 4), (Steak, 1)]",252.80,-37.808617,144.948207,0,8.777,16.749657
8,ORDK09302,2018-05-19,12:33:48,Lunch,BK,"[(Salad, 10), (Chicken, 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278
9,ORDY06134,2018-07-16,14:25:21,Lunch,TP,"[(Chicken, 2), (Burger, 6), (Salad, 4), (Fries...",693.80,-37.821505,144.969280,0,7.772,11.211580
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[(Salad, 6), (Steak, 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[(Pancake, 8), (Coffee, 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[(Coffee, 7), (Cereal, 2), (Pancake, 4), (Eggs...",213.50,-37.823631,144.967342,0,7.841,10.290269
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[(Fish&Chips, 10), (Shrimp, 10), (Pasta, 10)]",1165.00,-37.825981,145.017351,0,12.183,17.734468
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[(Fries, 10), (Burger, 8), (Salad, 2), (Steak,...",659.40,-37.816386,144.967125,0,7.591,13.584315
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[(Fries, 10), (Burger, 9), (Salad, 7), (Steak,...",564.40,-37.824209,144.984207,0,8.927,12.561799
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[(Salad, 2), (Burger, 3)]",127.40,-37.822204,144.975708,0,9.146,14.308930
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[(Pancake, 2), (Eggs, 4), (Coffee, 4), (Cereal...",0.00,-37.803475,144.967472,0,9.685,13.807112
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[(Salmon, 9), (Shrimp, 6), (Fish&Chips, 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[(Burger, 2), (Fries, 7), (Steak, 9), (Salad, 4)]",619.80,-37.821316,145.012274,0,11.859,16.359951
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[(Fish&Chips, 6), (Pasta, 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[(Shrimp, 7), (Pasta, 8), (Salmon, 10), (Fish&...",1218.00,-37.822139,145.015550,0,12.170,15.564740
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[(Shrimp, 6), (Pasta, 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[(Shrimp, 9), (Fish&Chips, 5)]",661.00,-37.813373,145.008762,0,3.554,10.058129
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[(Salmon, 8), (Shrimp, 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570
25,ORDA10400,2018-06-19,13:34:38,Lunch,BK,"[(Steak, 3), (Salad, 5), (Burger, 7), (Chicken...",470.00,-37.824005,145.002052,0,5.194,10.780248
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[(Fish&Chips, 1), (Shrimp, 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[(Salad, 5), (Burger, 3)]",179.00,37.824365,144.954173,0,8.213,11.462362
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[(Coffee, 1), (Pancake, 3), (Cereal, 2)]",122.25,-37.810551,144.955963,0,8.204,13.330472
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[(Burger, 3), (Chicken, 8), (Salad, 7), (Steak...",919.40,-37.816492,144.966926,0,7.845,11.955862
...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 10), (Cereal, 2), (Eggs, 5)]",394.50,-37.811851,144.967496,0,7.235,11.903098
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[(Eggs, 4), (Coffee, 4), (Pancake, 4)]",0.00,-37.800756,145.018672,1,5.577,5.217972
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[(Fries, 8), (Chicken, 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[(Pasta, 6), (Fish&Chips, 1), (Shrimp, 3)]",362.00,-37.802221,144.965679,0,8.016,14.367322
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 9), (Eggs, 9), (Cereal, 10), (Pancak...",548.25,-37.807049,144.958306,0,9.060,11.682699
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[(Pancake, 8), (Coffee, 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[(Fish&Chips, 6), (Salmon, 2), (Shrimp, 7), (P...",890.00,-37.800654,144.953847,0,8.621,15.294883
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[(Steak, 4), (Chicken, 6), (Fries, 1), (Burger...",601.00,-37.809131,144.932082,0,10.339,19.214546
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 4), (Cereal, 3), (Eggs, 9)]",358.00,-37.799308,144.959241,0,8.430,13.122579
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[(Chicken, 7), (Fries, 5), (Burger, 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[(Fish&Chips, 8), (Pasta, 9), (Shrimp, 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[(Salad, 1), (Chicken, 8), (Steak, 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[(Coffee, 1), (Cereal, 4), (Pancake, 7), (Eggs...",0.00,-37.821343,144.946356,1,9.039,5.541174
483,ORDX05552,2018-05-20,12:33:48,Lunch,BK,"[(Fries, 5), (Burger, 2), (Chicken, 1), (Salad...",257.20,-37.802040,144.957089,0,8.201,16.961391
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[(Steak, 6), (Salad, 7), (Fries, 3), (Burger, ...",835.40,-37.803995,144.936298,0,9.818,15.443582
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[(Pasta, 10), (Shrimp, 7), (Salmon, 8), (Fish&...",1331.00,-37.799570,145.010850,0,10.042,17.880344
486,ORDK03685,2018-12-25,19:49:51,Dinner,BK,"[(Pasta, 10), (Salmon, 10), (Shrimp, 7), (Fish...",1203.00,-37.805095,144.968556,0,7.098,14.297638
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[(Burger, 3), (Steak, 2), (Fries, 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[(Fries, 1), (Steak, 1), (Chicken, 6), (Burger...",459.00,-37.820555,144.953218,0,9.022,15.561445
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[(Fish&Chips, 5), (Salmon, 5), (Shrimp, 2)]",488.00,37.811465,144.952862,0,8.475,16.465577
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[(Pasta, 6), (Shrimp, 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[(Steak, 9), (Chicken, 5), (Salad, 3), (Fries,...",676.60,-37.811784,144.949121,0,8.809,14.066580
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[(Shrimp, 7), (Fish&Chips, 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[(Salad, 2), (Chicken, 1), (Burger, 3), (Steak...",636.40,-37.803573,144.949700,0,8.338,15.374436
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[(Pancake, 8), (Cereal, 2), (Coffee, 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[(Chicken, 10), (Salad, 4), (Fries, 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[(Eggs, 10), (Pancake, 3)]",292.75,-37.810628,144.977580,0,9.161,11.125002
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[(Salad, 7), (Fries, 9), (Chicken, 2), (Steak,...",928.40,-37.803038,145.004495,0,9.360,15.206839
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[(Pasta, 2), (Fish&Chips, 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[(Fries, 2), (Steak, 3), (Burger, 2), (Chicken...",435.00,-37.807116,144.987663,0,5.505,10.758233

##### Dealing with lat long

In [39]:
dirty_data.customer_lat.describe()

count    500.000000
mean     -30.753928
std       25.336588
min      -37.833482
25%      -37.818139
50%      -37.811960
75%      -37.803914
max      144.972017
Name: customer_lat, dtype: float64

In [41]:
dirty_data[dirty_data.customer_lat>40]

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
273,ORDZ03820,2018-03-18,10:32:06,Breakfast,NS,"[(Cereal, 6), (Pancake, 8)]",320.0,144.972017,-37.809475,0,7.200,14.640792
384,ORDB01803,2018-09-22,16:47:19,Dinner,TP,"[(Fish&Chips, 3), (Pasta, 4)]",215.0,144.971437,-37.800578,0,10.062,15.658808
385,ORDA00559,2018-02-08,09:10:59,Breakfast,BK,"[(Coffee, 5), (Cereal, 7), (Pancake, 4), (Eggs...",435.5,144.959419,-37.806323,0,7.749,12.956898
406,ORDK07541,2018-01-16,08:30:25,None,BK,"[(Pancake, 7), (Eggs, 8), (Coffee, 4), (Cereal...",0.0,144.928088,-37.805151,1,10.738,7.806882

In [46]:
def change_customer_lat_lon(row):
        lat = row.customer_lat
        lon = row.customer_lon
        if(lat>0):
            if(lat>40):
                temp = lat
                lat = lon
                lon = temp
            else: 
                lat = lat * -1
        if(lon<0):
            lon = lon *-1
        row.customer_lat = lat
        row.customer_lon = lon
        return row

In [47]:
dirty_data = dirty_data.apply(change_customer_lat_lon, axis = 1)

In [48]:
dirty_data[dirty_data.customer_lat>40]

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee]
Index: []

In [49]:
dirty_data[dirty_data.customer_lat>0]

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee]
Index: []

In [50]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[(Fish&Chips, 3), (Salmon, 1), (Shrimp, 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[(Pancake, 10), (Cereal, 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[(Eggs, 7), (Pancake, 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 7), (Pancake, 1)]",76.75,-37.804479,144.973207,0,9.657,11.680867
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[(Chicken, 8), (Steak, 4), (Fries, 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[(Chicken, 6), (Salad, 3), (Steak, 1), (Fries,...",613.60,-37.809597,144.953554,0,8.723,12.363141
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[(Cereal, 2), (Eggs, 8), (Coffee, 2), (Pancake...",378.50,-37.805672,144.957139,0,7.813,12.661871
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[(Fries, 9), (Burger, 1), (Salad, 4), (Steak, 1)]",252.80,-37.808617,144.948207,0,8.777,16.749657
8,ORDK09302,2018-05-19,12:33:48,Lunch,BK,"[(Salad, 10), (Chicken, 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278
9,ORDY06134,2018-07-16,14:25:21,Lunch,TP,"[(Chicken, 2), (Burger, 6), (Salad, 4), (Fries...",693.80,-37.821505,144.969280,0,7.772,11.211580
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[(Salad, 6), (Steak, 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[(Pancake, 8), (Coffee, 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[(Coffee, 7), (Cereal, 2), (Pancake, 4), (Eggs...",213.50,-37.823631,144.967342,0,7.841,10.290269
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[(Fish&Chips, 10), (Shrimp, 10), (Pasta, 10)]",1165.00,-37.825981,145.017351,0,12.183,17.734468
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[(Fries, 10), (Burger, 8), (Salad, 2), (Steak,...",659.40,-37.816386,144.967125,0,7.591,13.584315
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[(Fries, 10), (Burger, 9), (Salad, 7), (Steak,...",564.40,-37.824209,144.984207,0,8.927,12.561799
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[(Salad, 2), (Burger, 3)]",127.40,-37.822204,144.975708,0,9.146,14.308930
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[(Pancake, 2), (Eggs, 4), (Coffee, 4), (Cereal...",0.00,-37.803475,144.967472,0,9.685,13.807112
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[(Salmon, 9), (Shrimp, 6), (Fish&Chips, 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[(Burger, 2), (Fries, 7), (Steak, 9), (Salad, 4)]",619.80,-37.821316,145.012274,0,11.859,16.359951
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[(Fish&Chips, 6), (Pasta, 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[(Shrimp, 7), (Pasta, 8), (Salmon, 10), (Fish&...",1218.00,-37.822139,145.015550,0,12.170,15.564740
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[(Shrimp, 6), (Pasta, 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[(Shrimp, 9), (Fish&Chips, 5)]",661.00,-37.813373,145.008762,0,3.554,10.058129
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[(Salmon, 8), (Shrimp, 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570
25,ORDA10400,2018-06-19,13:34:38,Lunch,BK,"[(Steak, 3), (Salad, 5), (Burger, 7), (Chicken...",470.00,-37.824005,145.002052,0,5.194,10.780248
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[(Fish&Chips, 1), (Shrimp, 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[(Salad, 5), (Burger, 3)]",179.00,-37.824365,144.954173,0,8.213,11.462362
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[(Coffee, 1), (Pancake, 3), (Cereal, 2)]",122.25,-37.810551,144.955963,0,8.204,13.330472
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[(Burger, 3), (Chicken, 8), (Salad, 7), (Steak...",919.40,-37.816492,144.966926,0,7.845,11.955862
...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 10), (Cereal, 2), (Eggs, 5)]",394.50,-37.811851,144.967496,0,7.235,11.903098
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[(Eggs, 4), (Coffee, 4), (Pancake, 4)]",0.00,-37.800756,145.018672,1,5.577,5.217972
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[(Fries, 8), (Chicken, 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[(Pasta, 6), (Fish&Chips, 1), (Shrimp, 3)]",362.00,-37.802221,144.965679,0,8.016,14.367322
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 9), (Eggs, 9), (Cereal, 10), (Pancak...",548.25,-37.807049,144.958306,0,9.060,11.682699
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[(Pancake, 8), (Coffee, 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[(Fish&Chips, 6), (Salmon, 2), (Shrimp, 7), (P...",890.00,-37.800654,144.953847,0,8.621,15.294883
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[(Steak, 4), (Chicken, 6), (Fries, 1), (Burger...",601.00,-37.809131,144.932082,0,10.339,19.214546
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 4), (Cereal, 3), (Eggs, 9)]",358.00,-37.799308,144.959241,0,8.430,13.122579
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[(Chicken, 7), (Fries, 5), (Burger, 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[(Fish&Chips, 8), (Pasta, 9), (Shrimp, 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[(Salad, 1), (Chicken, 8), (Steak, 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[(Coffee, 1), (Cereal, 4), (Pancake, 7), (Eggs...",0.00,-37.821343,144.946356,1,9.039,5.541174
483,ORDX05552,2018-05-20,12:33:48,Lunch,BK,"[(Fries, 5), (Burger, 2), (Chicken, 1), (Salad...",257.20,-37.802040,144.957089,0,8.201,16.961391
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[(Steak, 6), (Salad, 7), (Fries, 3), (Burger, ...",835.40,-37.803995,144.936298,0,9.818,15.443582
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[(Pasta, 10), (Shrimp, 7), (Salmon, 8), (Fish&...",1331.00,-37.799570,145.010850,0,10.042,17.880344
486,ORDK03685,2018-12-25,19:49:51,Dinner,BK,"[(Pasta, 10), (Salmon, 10), (Shrimp, 7), (Fish...",1203.00,-37.805095,144.968556,0,7.098,14.297638
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[(Burger, 3), (Steak, 2), (Fries, 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[(Fries, 1), (Steak, 1), (Chicken, 6), (Burger...",459.00,-37.820555,144.953218,0,9.022,15.561445
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[(Fish&Chips, 5), (Salmon, 5), (Shrimp, 2)]",488.00,-37.811465,144.952862,0,8.475,16.465577
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[(Pasta, 6), (Shrimp, 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[(Steak, 9), (Chicken, 5), (Salad, 3), (Fries,...",676.60,-37.811784,144.949121,0,8.809,14.066580
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[(Shrimp, 7), (Fish&Chips, 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[(Salad, 2), (Chicken, 1), (Burger, 3), (Steak...",636.40,-37.803573,144.949700,0,8.338,15.374436
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[(Pancake, 8), (Cereal, 2), (Coffee, 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[(Chicken, 10), (Salad, 4), (Fries, 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[(Eggs, 10), (Pancake, 3)]",292.75,-37.810628,144.977580,0,9.161,11.125002
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[(Salad, 7), (Fries, 9), (Chicken, 2), (Steak,...",928.40,-37.803038,145.004495,0,9.360,15.206839
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[(Pasta, 2), (Fish&Chips, 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[(Fries, 2), (Steak, 3), (Burger, 2), (Chicken...",435.00,-37.807116,144.987663,0,5.505,10.758233

##### DIjikistra algorithm

In [62]:
branches = pd.read_csv('branches.csv')
nodes = pd.read_csv('nodes.csv')
edges = pd.read_csv('edges.csv')

In [63]:
branch_nodes=pd.merge(branches, nodes, how='left', left_on=['branch_lat','branch_lon'], right_on = ['lat','lon'])
branch_nodes

,branch_code,branch_name,branch_lat,branch_lon,node,lat,lon
0,NS,Nickolson,-37.773803,144.983647,2455254505,-37.773803,144.983647
1,TP,Thompson,-37.861835,144.905716,1390575046,-37.861835,144.905716
2,BK,Bakers,-37.815834,145.046450,1889485053,-37.815834,145.046450

In [64]:
branch_nodes=branch_nodes.drop(['lat', 'lon'], axis=1)

In [65]:
branch_nodes.rename(columns={'node':'branch_node'}, inplace=True)

In [66]:
dirty_data=pd.merge(dirty_data, nodes, how='left', left_on=['customer_lat','customer_lon'], right_on = ['lat','lon'])
dirty_data=dirty_data.drop(['lat', 'lon'], axis=1)
dirty_data.rename(columns={'node':'customer_node'}, inplace=True)
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,customer_node
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[(Fish&Chips, 3), (Salmon, 1), (Shrimp, 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833,4655129025
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[(Pancake, 10), (Cereal, 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678,6167359495
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[(Eggs, 7), (Pancake, 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708,130040449
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 7), (Pancake, 1)]",76.75,-37.804479,144.973207,0,9.657,11.680867,4421481865
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[(Chicken, 8), (Steak, 4), (Fries, 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645,368380518
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[(Chicken, 6), (Salad, 3), (Steak, 1), (Fries,...",613.60,-37.809597,144.953554,0,8.723,12.363141,387266341
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[(Cereal, 2), (Eggs, 8), (Coffee, 2), (Pancake...",378.50,-37.805672,144.957139,0,7.813,12.661871,2465501923
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[(Fries, 9), (Burger, 1), (Salad, 4), (Steak, 1)]",252.80,-37.808617,144.948207,0,8.777,16.749657,4637139147
8,ORDK09302,2018-05-19,12:33:48,Lunch,BK,"[(Salad, 10), (Chicken, 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278,163364742
9,ORDY06134,2018-07-16,14:25:21,Lunch,TP,"[(Chicken, 2), (Burger, 6), (Salad, 4), (Fries...",693.80,-37.821505,144.969280,0,7.772,11.211580,3925153646
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[(Salad, 6), (Steak, 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996,4847645684
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[(Pancake, 8), (Coffee, 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168,176704338
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[(Coffee, 7), (Cereal, 2), (Pancake, 4), (Eggs...",213.50,-37.823631,144.967342,0,7.841,10.290269,847529577
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[(Fish&Chips, 10), (Shrimp, 10), (Pasta, 10)]",1165.00,-37.825981,145.017351,0,12.183,17.734468,207078635
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[(Fries, 10), (Burger, 8), (Salad, 2), (Steak,...",659.40,-37.816386,144.967125,0,7.591,13.584315,4787333389
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[(Fries, 10), (Burger, 9), (Salad, 7), (Steak,...",564.40,-37.824209,144.984207,0,8.927,12.561799,746912592
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[(Salad, 2), (Burger, 3)]",127.40,-37.822204,144.975708,0,9.146,14.308930,2700682444
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[(Pancake, 2), (Eggs, 4), (Coffee, 4), (Cereal...",0.00,-37.803475,144.967472,0,9.685,13.807112,3208518279
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[(Salmon, 9), (Shrimp, 6), (Fish&Chips, 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922,4655129065
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[(Burger, 2), (Fries, 7), (Steak, 9), (Salad, 4)]",619.80,-37.821316,145.012274,0,11.859,16.359951,260906811
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[(Fish&Chips, 6), (Pasta, 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474,767661779
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[(Shrimp, 7), (Pasta, 8), (Salmon, 10), (Fish&...",1218.00,-37.822139,145.015550,0,12.170,15.564740,207078711
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[(Shrimp, 6), (Pasta, 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156,4398346297
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[(Shrimp, 9), (Fish&Chips, 5)]",661.00,-37.813373,145.008762,0,3.554,10.058129,1068485079
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[(Salmon, 8), (Shrimp, 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570,1463547099
25,ORDA10400,2018-06-19,13:34:38,Lunch,BK,"[(Steak, 3), (Salad, 5), (Burger, 7), (Chicken...",470.00,-37.824005,145.002052,0,5.194,10.780248,250933646
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[(Fish&Chips, 1), (Shrimp, 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466,3212024917
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[(Salad, 5), (Burger, 3)]",179.00,-37.824365,144.954173,0,8.213,11.462362,207141367
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[(Coffee, 1), (Pancake, 3), (Cereal, 2)]",122.25,-37.810551,144.955963,0,8.204,13.330472,6167489416
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[(Burger, 3), (Chicken, 8), (Salad, 7), (Steak...",919.40,-37.816492,144.966926,0,7.845,11.955862,5827671676
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 10), (Cereal, 2), (Eggs, 5)]",394.50,-37.811851,144.967496,0,7.235,11.903098,6167344376
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[(Eggs, 4), (Coffee, 4), (Pancake, 4)]",0.00,-37.800756,145.018672,1,5.577,5.217972,282854639
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[(Fries, 8), (Chicken, 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057,21579161
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[(Pasta, 6), (Fish&Chips, 1), (Shrimp, 3)]",362.00,-37.802221,144.965679,0,8.016,14.367322,2005895257
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 9), (Eggs, 9), (Cereal, 10), (Pancak...",548.25,-37.807049,144.958306,0,9.060,11.682699,711358164
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[(Pancake, 8), (Coffee, 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636,605199041
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[(Fish&Chips, 6), (Salmon, 2), (Shrimp, 7), (P...",890.00,-37.800654,144.953847,0,8.621,15.294883,2096325814
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[(Steak, 4), (Chicken, 6), (Fries, 1), (Burger...",601.00,-37.809131,144.932082,0,10.339,19.214546,2172718107
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 4), (Cereal, 3), (Eggs, 9)]",358.00,-37.799308,144.959241,0,8.430,13.122579,2975216738
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[(Chicken, 7), (Fries, 5), (Burger, 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878,600744898
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[(Fish&Chips, 8), (Pasta, 9), (Shrimp, 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474,2950388106
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[(Salad, 1), (Chicken, 8), (Steak, 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399,580186485
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[(Coffee, 1), (Cereal, 4), (Pancake, 7), (Eggs...",0.00,-37.821343,144.946356,1,9.039,5.541174,560988348
483,ORDX05552,2018-05-20,12:33:48,Lunch,BK,"[(Fries, 5), (Burger, 2), (Chicken, 1), (Salad...",257.20,-37.802040,144.957089,0,8.201,16.961391,1283637406
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[(Steak, 6), (Salad, 7), (Fries, 3), (Burger, ...",835.40,-37.803995,144.936298,0,9.818,15.443582,3555805917
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[(Pasta, 10), (Shrimp, 7), (Salmon, 8), (Fish&...",1331.00,-37.799570,145.010850,0,10.042,17.880344,492939878
486,ORDK03685,2018-12-25,19:49:51,Dinner,BK,"[(Pasta, 10), (Salmon, 10), (Shrimp, 7), (Fish...",1203.00,-37.805095,144.968556,0,7.098,14.297638,319157918
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[(Burger, 3), (Steak, 2), (Fries, 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815,3394697044
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[(Fries, 1), (Steak, 1), (Chicken, 6), (Burger...",459.00,-37.820555,144.953218,0,9.022,15.561445,6200184386
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[(Fish&Chips, 5), (Salmon, 5), (Shrimp, 2)]",488.00,-37.811465,144.952862,0,8.475,16.465577,5001030330
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[(Pasta, 6), (Shrimp, 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564,168408643
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[(Steak, 9), (Chicken, 5), (Salad, 3), (Fries,...",676.60,-37.811784,144.949121,0,8.809,14.066580,289602871
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[(Shrimp, 7), (Fish&Chips, 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709,560987521
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[(Salad, 2), (Chicken, 1), (Burger, 3), (Steak...",636.40,-37.803573,144.949700,0,8.338,15.374436,4740822068
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[(Pancake, 8), (Cereal, 2), (Coffee, 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226,202520397
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[(Chicken, 10), (Salad, 4), (Fries, 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510,1838361788
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[(Eggs, 10), (Pancake, 3)]",292.75,-37.810628,144.977580,0,9.161,11.125002,6245731028
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[(Salad, 7), (Fries, 9), (Chicken, 2), (Steak,...",928.40,-37.803038,145.004495,0,9.360,15.206839,5512805643
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[(Pasta, 2), (Fish&Chips, 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943,1560149477
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[(Fries, 2), (Steak, 3), (Burger, 2), (Chicken...",435.00,-37.807116,144.987663,0,5.505,10.758233,356449290

In [67]:
dirty_data=pd.merge(dirty_data, branch_nodes, how='left', left_on=['branch_code'], right_on = ['branch_code'])

In [68]:
nodes_list=list(nodes['node'])

In [69]:
edges_list=list(zip(edges.u, edges.v, edges['distance(m)']))

In [70]:
import networkx as nx

G=nx.Graph()
G.add_nodes_from(nodes_list)
G.add_weighted_edges_from(edges_list)

In [71]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,customer_node,branch_name,branch_lat,branch_lon,branch_node
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[(Fish&Chips, 3), (Salmon, 1), (Shrimp, 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833,4655129025,Nickolson,-37.773803,144.983647,2455254505
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[(Pancake, 10), (Cereal, 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678,6167359495,Bakers,-37.815834,145.046450,1889485053
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[(Eggs, 7), (Pancake, 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708,130040449,Thompson,-37.861835,144.905716,1390575046
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 7), (Pancake, 1)]",76.75,-37.804479,144.973207,0,9.657,11.680867,4421481865,Thompson,-37.861835,144.905716,1390575046
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[(Chicken, 8), (Steak, 4), (Fries, 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645,368380518,Bakers,-37.815834,145.046450,1889485053
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[(Chicken, 6), (Salad, 3), (Steak, 1), (Fries,...",613.60,-37.809597,144.953554,0,8.723,12.363141,387266341,Thompson,-37.861835,144.905716,1390575046
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[(Cereal, 2), (Eggs, 8), (Coffee, 2), (Pancake...",378.50,-37.805672,144.957139,0,7.813,12.661871,2465501923,Nickolson,-37.773803,144.983647,2455254505
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[(Fries, 9), (Burger, 1), (Salad, 4), (Steak, 1)]",252.80,-37.808617,144.948207,0,8.777,16.749657,4637139147,Nickolson,-37.773803,144.983647,2455254505
8,ORDK09302,2018-05-19,12:33:48,Lunch,BK,"[(Salad, 10), (Chicken, 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278,163364742,Bakers,-37.815834,145.046450,1889485053
9,ORDY06134,2018-07-16,14:25:21,Lunch,TP,"[(Chicken, 2), (Burger, 6), (Salad, 4), (Fries...",693.80,-37.821505,144.969280,0,7.772,11.211580,3925153646,Thompson,-37.861835,144.905716,1390575046
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[(Salad, 6), (Steak, 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996,4847645684,Thompson,-37.861835,144.905716,1390575046
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[(Pancake, 8), (Coffee, 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168,176704338,Nickolson,-37.773803,144.983647,2455254505
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[(Coffee, 7), (Cereal, 2), (Pancake, 4), (Eggs...",213.50,-37.823631,144.967342,0,7.841,10.290269,847529577,Thompson,-37.861835,144.905716,1390575046
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[(Fish&Chips, 10), (Shrimp, 10), (Pasta, 10)]",1165.00,-37.825981,145.017351,0,12.183,17.734468,207078635,Nickolson,-37.773803,144.983647,2455254505
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[(Fries, 10), (Burger, 8), (Salad, 2), (Steak,...",659.40,-37.816386,144.967125,0,7.591,13.584315,4787333389,Bakers,-37.815834,145.046450,1889485053
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[(Fries, 10), (Burger, 9), (Salad, 7), (Steak,...",564.40,-37.824209,144.984207,0,8.927,12.561799,746912592,Thompson,-37.861835,144.905716,1390575046
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[(Salad, 2), (Burger, 3)]",127.40,-37.822204,144.975708,0,9.146,14.308930,2700682444,Nickolson,-37.773803,144.983647,2455254505
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[(Pancake, 2), (Eggs, 4), (Coffee, 4), (Cereal...",0.00,-37.803475,144.967472,0,9.685,13.807112,3208518279,Thompson,-37.861835,144.905716,1390575046
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[(Salmon, 9), (Shrimp, 6), (Fish&Chips, 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922,4655129065,Thompson,-37.861835,144.905716,1390575046
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[(Burger, 2), (Fries, 7), (Steak, 9), (Salad, 4)]",619.80,-37.821316,145.012274,0,11.859,16.359951,260906811,Thompson,-37.861835,144.905716,1390575046
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[(Fish&Chips, 6), (Pasta, 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474,767661779,Bakers,-37.815834,145.046450,1889485053
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[(Shrimp, 7), (Pasta, 8), (Salmon, 10), (Fish&...",1218.00,-37.822139,145.015550,0,12.170,15.564740,207078711,Thompson,-37.861835,144.905716,1390575046
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[(Shrimp, 6), (Pasta, 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156,4398346297,Bakers,-37.815834,145.046450,1889485053
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[(Shrimp, 9), (Fish&Chips, 5)]",661.00,-37.813373,145.008762,0,3.554,10.058129,1068485079,Bakers,-37.815834,145.046450,1889485053
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[(Salmon, 8), (Shrimp, 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570,1463547099,Thompson,-37.861835,144.905716,1390575046
25,ORDA10400,2018-06-19,13:34:38,Lunch,BK,"[(Steak, 3), (Salad, 5), (Burger, 7), (Chicken...",470.00,-37.824005,145.002052,0,5.194,10.780248,250933646,Bakers,-37.815834,145.046450,1889485053
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[(Fish&Chips, 1), (Shrimp, 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466,3212024917,Thompson,-37.861835,144.905716,1390575046
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[(Salad, 5), (Burger, 3)]",179.00,-37.824365,144.954173,0,8.213,11.462362,207141367,Thompson,-37.861835,144.905716,1390575046
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[(Coffee, 1), (Pancake, 3), (Cereal, 2)]",122.25,-37.810551,144.955963,0,8.204,13.330472,6167489416,Bakers,-37.815834,145.046450,1889485053
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[(Burger, 3), (Chicken, 8), (Salad, 7), (Steak...",919.40,-37.816492,144.966926,0,7.845,11.955862,5827671676,Thompson,-37.861835,144.905716,1390575046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 10), (Cereal, 2), (Eggs, 5)]",394.50,-37.811851,144.967496,0,7.235,11.903098,6167344376,Bakers,-37.815834,145.046450,1889485053
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[(Eggs, 4), (Coffee, 4), (Pancake, 4)]",0.00,-37.800756,145.018672,1,5.577,5.217972,282854639,Bakers,-37.815834,145.046450,1889485053
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[(Fries, 8), (Chicken, 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057,21579161,Nickolson,-37.773803,144.983647,2455254505
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[(Pasta, 6), (Fish&Chips, 1), (Shrimp, 3)]",362.00,-37.802221,144.965679,0,8.016,14.367322,2005895257,Nickolson,-37.773803,144.983647,2455254505
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 9), (Eggs, 9), (Cereal, 10), (Pancak...",548.25,-37.807049,144.958306,0,9.060,11.682699,711358164,Thompson,-37.861835,144.905716,1390575046
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[(Pancake, 8), (Coffee, 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636,605199041,Thompson,-37.861835,144.905716,1390575046
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[(Fish&Chips, 6), (Salmon, 2), (Shrimp, 7), (P...",890.00,-37.800654,144.953847,0,8.621,15.294883,2096325814,Bakers,-37.815834,145.046450,1889485053
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[(Steak, 4), (Chicken, 6), (Fries, 1), (Burger...",601.00,-37.809131,144.932082,0,10.339,19.214546,2172718107,Bakers,-37.815834,145.046450,1889485053
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 4), (Cereal, 3), (Eggs, 9)]",358.00,-37.799308,144.959241,0,8.430,13.122579,2975216738,Bakers,-37.815834,145.046450,1889485053
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[(Chicken, 7), (Fries, 5), (Burger, 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878,600744898,Nickolson,-37.773803,144.983647,2455254505
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[(Fish&Chips, 8), (Pasta, 9), (Shrimp, 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474,2950388106,Nickolson,-37.773803,144.983647,2455254505
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[(Salad, 1), (Chicken, 8), (Steak, 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399,580186485,Nickolson,-37.773803,144.983647,2455254505
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[(Coffee, 1), (Cereal, 4), (Pancake, 7), (Eggs...",0.00,-37.821343,144.946356,1,9.039,5.541174,560988348,Thompson,-37.861835,144.905716,1390575046
483,ORDX05552,2018-05-20,12:33:48,Lunch,BK,"[(Fries, 5), (Burger, 2), (Chicken, 1), (Salad...",257.20,-37.802040,144.957089,0,8.201,16.961391,1283637406,Bakers,-37.815834,145.046450,1889485053
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[(Steak, 6), (Salad, 7), (Fries, 3), (Burger, ...",835.40,-37.803995,144.936298,0,9.818,15.443582,3555805917,Nickolson,-37.773803,144.983647,2455254505
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[(Pasta, 10), (Shrimp, 7), (Salmon, 8), (Fish&...",1331.00,-37.799570,145.010850,0,10.042,17.880344,492939878,Nickolson,-37.773803,144.983647,2455254505
486,ORDK03685,2018-12-25,19:49:51,Dinner,BK,"[(Pasta, 10), (Salmon, 10), (Shrimp, 7), (Fish...",1203.00,-37.805095,144.968556,0,7.098,14.297638,319157918,Bakers,-37.815834,145.046450,1889485053
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[(Burger, 3), (Steak, 2), (Fries, 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815,3394697044,Thompson,-37.861835,144.905716,1390575046
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[(Fries, 1), (Steak, 1), (Chicken, 6), (Burger...",459.00,-37.820555,144.953218,0,9.022,15.561445,6200184386,Bakers,-37.815834,145.046450,1889485053
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[(Fish&Chips, 5), (Salmon, 5), (Shrimp, 2)]",488.00,-37.811465,144.952862,0,8.475,16.465577,5001030330,Nickolson,-37.773803,144.983647,2455254505
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[(Pasta, 6), (Shrimp, 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564,168408643,Nickolson,-37.773803,144.983647,2455254505
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[(Steak, 9), (Chicken, 5), (Salad, 3), (Fries,...",676.60,-37.811784,144.949121,0,8.809,14.066580,289602871,Nickolson,-37.773803,144.983647,2455254505
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[(Shrimp, 7), (Fish&Chips, 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709,560987521,Nickolson,-37.773803,144.983647,2455254505
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[(Salad, 2), (Chicken, 1), (Burger, 3), (Steak...",636.40,-37.803573,144.949700,0,8.338,15.374436,4740822068,Nickolson,-37.773803,144.983647,2455254505
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[(Pancake, 8), (Cereal, 2), (Coffee, 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226,202520397,Thompson,-37.861835,144.905716,1390575046
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[(Chicken, 10), (Salad, 4), (Fries, 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510,1838361788,Thompson,-37.861835,144.905716,1390575046
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[(Eggs, 10), (Pancake, 3)]",292.75,-37.810628,144.977580,0,9.161,11.125002,6245731028,Thompson,-37.861835,144.905716,1390575046
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[(Salad, 7), (Fries, 9), (Chicken, 2), (Steak,...",928.40,-37.803038,145.004495,0,9.360,15.206839,5512805643,Nickolson,-37.773803,144.983647,2455254505
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[(Pasta, 2), (Fish&Chips, 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943,1560149477,Thompson,-37.861835,144.905716,1390575046
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[(Fries, 2), (Steak, 3), (Burger, 2), (Chicken...",435.00,-37.807116,144.987663,0,5.505,10.758233,356449290,Bakers,-37.815834,145.046450,1889485053

In [72]:
source_list=list(dirty_data['branch_node'])
target_list=list(dirty_data['customer_node'])

In [73]:
dist=list()
for i in range(len(source_list)):
    dist.append((nx.dijkstra_path_length(G, source_list[i], target_list[i]))/1000)
len(dist)

500

In [75]:
dirty_data['distance_to_customer_KM']=dist

In [76]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,customer_node,branch_name,branch_lat,branch_lon,branch_node
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[(Fish&Chips, 3), (Salmon, 1), (Shrimp, 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833,4655129025,Nickolson,-37.773803,144.983647,2455254505
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[(Pancake, 10), (Cereal, 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678,6167359495,Bakers,-37.815834,145.046450,1889485053
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[(Eggs, 7), (Pancake, 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708,130040449,Thompson,-37.861835,144.905716,1390575046
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 7), (Pancake, 1)]",76.75,-37.804479,144.973207,0,9.657,11.680867,4421481865,Thompson,-37.861835,144.905716,1390575046
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[(Chicken, 8), (Steak, 4), (Fries, 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645,368380518,Bakers,-37.815834,145.046450,1889485053
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[(Chicken, 6), (Salad, 3), (Steak, 1), (Fries,...",613.60,-37.809597,144.953554,0,9.039,12.363141,387266341,Thompson,-37.861835,144.905716,1390575046
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[(Cereal, 2), (Eggs, 8), (Coffee, 2), (Pancake...",378.50,-37.805672,144.957139,0,7.813,12.661871,2465501923,Nickolson,-37.773803,144.983647,2455254505
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[(Fries, 9), (Burger, 1), (Salad, 4), (Steak, 1)]",252.80,-37.808617,144.948207,0,8.777,16.749657,4637139147,Nickolson,-37.773803,144.983647,2455254505
8,ORDK09302,2018-05-19,12:33:48,Lunch,BK,"[(Salad, 10), (Chicken, 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278,163364742,Bakers,-37.815834,145.046450,1889485053
9,ORDY06134,2018-07-16,14:25:21,Lunch,TP,"[(Chicken, 2), (Burger, 6), (Salad, 4), (Fries...",693.80,-37.821505,144.969280,0,7.772,11.211580,3925153646,Thompson,-37.861835,144.905716,1390575046
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[(Salad, 6), (Steak, 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996,4847645684,Thompson,-37.861835,144.905716,1390575046
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[(Pancake, 8), (Coffee, 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168,176704338,Nickolson,-37.773803,144.983647,2455254505
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[(Coffee, 7), (Cereal, 2), (Pancake, 4), (Eggs...",213.50,-37.823631,144.967342,0,7.841,10.290269,847529577,Thompson,-37.861835,144.905716,1390575046
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[(Fish&Chips, 10), (Shrimp, 10), (Pasta, 10)]",1165.00,-37.825981,145.017351,0,12.183,17.734468,207078635,Nickolson,-37.773803,144.983647,2455254505
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[(Fries, 10), (Burger, 8), (Salad, 2), (Steak,...",659.40,-37.816386,144.967125,0,7.591,13.584315,4787333389,Bakers,-37.815834,145.046450,1889485053
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[(Fries, 10), (Burger, 9), (Salad, 7), (Steak,...",564.40,-37.824209,144.984207,0,8.974,12.561799,746912592,Thompson,-37.861835,144.905716,1390575046
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[(Salad, 2), (Burger, 3)]",127.40,-37.822204,144.975708,0,9.146,14.308930,2700682444,Nickolson,-37.773803,144.983647,2455254505
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[(Pancake, 2), (Eggs, 4), (Coffee, 4), (Cereal...",0.00,-37.803475,144.967472,0,9.685,13.807112,3208518279,Thompson,-37.861835,144.905716,1390575046
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[(Salmon, 9), (Shrimp, 6), (Fish&Chips, 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922,4655129065,Thompson,-37.861835,144.905716,1390575046
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[(Burger, 2), (Fries, 7), (Steak, 9), (Salad, 4)]",619.80,-37.821316,145.012274,0,11.859,16.359951,260906811,Thompson,-37.861835,144.905716,1390575046
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[(Fish&Chips, 6), (Pasta, 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474,767661779,Bakers,-37.815834,145.046450,1889485053
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[(Shrimp, 7), (Pasta, 8), (Salmon, 10), (Fish&...",1218.00,-37.822139,145.015550,0,12.170,15.564740,207078711,Thompson,-37.861835,144.905716,1390575046
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[(Shrimp, 6), (Pasta, 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156,4398346297,Bakers,-37.815834,145.046450,1889485053
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[(Shrimp, 9), (Fish&Chips, 5)]",661.00,-37.813373,145.008762,0,3.554,10.058129,1068485079,Bakers,-37.815834,145.046450,1889485053
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[(Salmon, 8), (Shrimp, 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570,1463547099,Thompson,-37.861835,144.905716,1390575046
25,ORDA10400,2018-06-19,13:34:38,Lunch,BK,"[(Steak, 3), (Salad, 5), (Burger, 7), (Chicken...",470.00,-37.824005,145.002052,0,5.194,10.780248,250933646,Bakers,-37.815834,145.046450,1889485053
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[(Fish&Chips, 1), (Shrimp, 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466,3212024917,Thompson,-37.861835,144.905716,1390575046
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[(Salad, 5), (Burger, 3)]",179.00,-37.824365,144.954173,0,8.213,11.462362,207141367,Thompson,-37.861835,144.905716,1390575046
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[(Coffee, 1), (Pancake, 3), (Cereal, 2)]",122.25,-37.810551,144.955963,0,8.204,13.330472,6167489416,Bakers,-37.815834,145.046450,1889485053
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[(Burger, 3), (Chicken, 8), (Salad, 7), (Steak...",919.40,-37.816492,144.966926,0,7.845,11.955862,5827671676,Thompson,-37.861835,144.905716,1390575046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 10), (Cereal, 2), (Eggs, 5)]",394.50,-37.811851,144.967496,0,7.235,11.903098,6167344376,Bakers,-37.815834,145.046450,1889485053
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[(Eggs, 4), (Coffee, 4), (Pancake, 4)]",0.00,-37.800756,145.018672,1,5.577,5.217972,282854639,Bakers,-37.815834,145.046450,1889485053
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[(Fries, 8), (Chicken, 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057,21579161,Nickolson,-37.773803,144.983647,2455254505
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[(Pasta, 6), (Fish&Chips, 1), (Shrimp, 3)]",362.00,-37.802221,144.965679,0,6.683,14.367322,2005895257,Nickolson,-37.773803,144.983647,2455254505
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 9), (Eggs, 9), (Cereal, 10), (Pancak...",548.25,-37.807049,144.958306,0,9.060,11.682699,711358164,Thompson,-37.861835,144.905716,1390575046
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[(Pancake, 8), (Coffee, 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636,605199041,Thompson,-37.861835,144.905716,1390575046
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[(Fish&Chips, 6), (Salmon, 2), (Shrimp, 7), (P...",890.00,-37.800654,144.953847,0,8.621,15.294883,2096325814,Bakers,-37.815834,145.046450,1889485053
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[(Steak, 4), (Chicken, 6), (Fries, 1), (Burger...",601.00,-37.809131,144.932082,0,10.450,19.214546,2172718107,Bakers,-37.815834,145.046450,1889485053
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 4), (Cereal, 3), (Eggs, 9)]",358.00,-37.799308,144.959241,0,8.430,13.122579,2975216738,Bakers,-37.815834,145.046450,1889485053
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[(Chicken, 7), (Fries, 5), (Burger, 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878,600744898,Nickolson,-37.773803,144.983647,2455254505
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[(Fish&Chips, 8), (Pasta, 9), (Shrimp, 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474,2950388106,Nickolson,-37.773803,144.983647,2455254505
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[(Salad, 1), (Chicken, 8), (Steak, 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399,580186485,Nickolson,-37.773803,144.983647,2455254505
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[(Coffee, 1), (Cereal, 4), (Pancake, 7), (Eggs...",0.00,-37.821343,144.946356,1,9.039,5.541174,560988348,Thompson,-37.861835,144.905716,1390575046
483,ORDX05552,2018-05-20,12:33:48,Lunch,BK,"[(Fries, 5), (Burger, 2), (Chicken, 1), (Salad...",257.20,-37.802040,144.957089,0,8.201,16.961391,1283637406,Bakers,-37.815834,145.046450,1889485053
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[(Steak, 6), (Salad, 7), (Fries, 3), (Burger, ...",835.40,-37.803995,144.936298,0,9.818,15.443582,3555805917,Nickolson,-37.773803,144.983647,2455254505
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[(Pasta, 10), (Shrimp, 7), (Salmon, 8), (Fish&...",1331.00,-37.799570,145.010850,0,10.042,17.880344,492939878,Nickolson,-37.773803,144.983647,2455254505
486,ORDK03685,2018-12-25,19:49:51,Dinner,BK,"[(Pasta, 10), (Salmon, 10), (Shrimp, 7), (Fish...",1203.00,-37.805095,144.968556,0,7.098,14.297638,319157918,Bakers,-37.815834,145.046450,1889485053
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[(Burger, 3), (Steak, 2), (Fries, 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815,3394697044,Thompson,-37.861835,144.905716,1390575046
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[(Fries, 1), (Steak, 1), (Chicken, 6), (Burger...",459.00,-37.820555,144.953218,0,9.022,15.561445,6200184386,Bakers,-37.815834,145.046450,1889485053
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[(Fish&Chips, 5), (Salmon, 5), (Shrimp, 2)]",488.00,-37.811465,144.952862,0,8.475,16.465577,5001030330,Nickolson,-37.773803,144.983647,2455254505
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[(Pasta, 6), (Shrimp, 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564,168408643,Nickolson,-37.773803,144.983647,2455254505
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[(Steak, 9), (Chicken, 5), (Salad, 3), (Fries,...",676.60,-37.811784,144.949121,0,8.809,14.066580,289602871,Nickolson,-37.773803,144.983647,2455254505
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[(Shrimp, 7), (Fish&Chips, 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709,560987521,Nickolson,-37.773803,144.983647,2455254505
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[(Salad, 2), (Chicken, 1), (Burger, 3), (Steak...",636.40,-37.803573,144.949700,0,8.338,15.374436,4740822068,Nickolson,-37.773803,144.983647,2455254505
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[(Pancake, 8), (Cereal, 2), (Coffee, 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226,202520397,Thompson,-37.861835,144.905716,1390575046
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[(Chicken, 10), (Salad, 4), (Fries, 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510,1838361788,Thompson,-37.861835,144.905716,1390575046
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[(Eggs, 10), (Pancake, 3)]",292.75,-37.810628,144.977580,0,9.161,11.125002,6245731028,Thompson,-37.861835,144.905716,1390575046
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[(Salad, 7), (Fries, 9), (Chicken, 2), (Steak,...",928.40,-37.803038,145.004495,0,9.360,15.206839,5512805643,Nickolson,-37.773803,144.983647,2455254505
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[(Pasta, 2), (Fish&Chips, 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943,1560149477,Thompson,-37.861835,144.905716,1390575046
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[(Fries, 2), (Steak, 3), (Burger, 2), (Chicken...",435.00,-37.807116,144.987663,0,5.505,10.758233,356449290,Bakers,-37.815834,145.046450,1889485053

In [77]:
dirty_data=dirty_data.drop(['branch_node', 'branch_lon', 'branch_lat', 'branch_name', 'customer_node' ], axis=1)

### customerHasloyalty

In [78]:
dirty_data

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee
0,ORDC03597,2018-10-28,17:58:18,Dinner,NS,"[(Fish&Chips, 3), (Salmon, 1), (Shrimp, 4)]",362.00,-37.810737,144.946258,0,9.037,17.067833
1,ORDA09900,2018-03-25,10:42:15,Breakfast,BK,"[(Pancake, 10), (Cereal, 3)]",305.50,-37.810454,144.972977,0,6.685,13.772678
2,ORDB03994,2018-02-21,09:41:24,Breakfast,TP,"[(Eggs, 7), (Pancake, 3)]",226.75,-37.804668,144.935219,0,10.857,12.446708
3,ORDB07951,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 7), (Pancake, 1)]",76.75,-37.804479,144.973207,0,9.657,11.680867
4,ORDK06857,2018-07-06,14:05:04,Lunch,BK,"[(Chicken, 8), (Steak, 4), (Fries, 3)]",472.00,-37.798864,144.968687,0,7.806,13.760645
5,ORDB04446,2018-08-07,15:16:03,Lunch,TP,"[(Chicken, 6), (Salad, 3), (Steak, 1), (Fries,...",613.60,-37.809597,144.953554,0,9.039,12.363141
6,ORDI03577,2018-04-20,11:32:57,Breakfast,NS,"[(Cereal, 2), (Eggs, 8), (Coffee, 2), (Pancake...",378.50,-37.805672,144.957139,0,7.813,12.661871
7,ORDI06755,2018-07-22,14:35:29,Lunch,NS,"[(Fries, 9), (Burger, 1), (Salad, 4), (Steak, 1)]",252.80,-37.808617,144.948207,0,8.777,16.749657
8,ORDK09302,2018-05-19,12:33:48,Lunch,BK,"[(Salad, 10), (Chicken, 3)]",268.00,-37.813400,144.953412,0,8.488,16.863278
9,ORDY06134,2018-07-16,14:25:21,Lunch,TP,"[(Chicken, 2), (Burger, 6), (Salad, 4), (Fries...",693.80,-37.821505,144.969280,0,7.772,11.211580
10,ORDY06327,2018-08-03,15:05:54,Lunch,TP,"[(Salad, 6), (Steak, 5)]",328.20,-37.815748,145.009126,0,11.752,14.716996
11,ORDI08440,2018-02-27,09:51:32,Breakfast,NS,"[(Pancake, 8), (Coffee, 10)]",269.00,-37.811444,144.963858,1,7.647,12.976168
12,ORDB10186,2018-02-23,09:41:24,Breakfast,TP,"[(Coffee, 7), (Cereal, 2), (Pancake, 4), (Eggs...",213.50,-37.823631,144.967342,0,7.841,10.290269
13,ORDI00778,2018-11-20,18:38:52,Dinner,NS,"[(Fish&Chips, 10), (Shrimp, 10), (Pasta, 10)]",1165.00,-37.825981,145.017351,0,12.183,17.734468
14,ORDX11098,2018-06-13,13:24:30,Lunch,BK,"[(Fries, 10), (Burger, 8), (Salad, 2), (Steak,...",659.40,-37.816386,144.967125,0,7.591,13.584315
15,ORDJ08943,2018-06-25,13:44:47,Lunch,TP,"[(Fries, 10), (Burger, 9), (Salad, 7), (Steak,...",564.40,-37.824209,144.984207,0,8.974,12.561799
16,ORDI01926,2018-07-25,14:45:38,Lunch,NS,"[(Salad, 2), (Burger, 3)]",127.40,-37.822204,144.975708,0,9.146,14.308930
17,ORDB09538,2018-01-21,08:40:33,None,TP,"[(Pancake, 2), (Eggs, 4), (Coffee, 4), (Cereal...",0.00,-37.803475,144.967472,0,9.685,13.807112
18,ORDB05641,2018-10-28,17:58:18,Dinner,TP,"[(Salmon, 9), (Shrimp, 6), (Fish&Chips, 4)]",833.00,-37.809888,144.947701,0,9.679,15.021922
19,ORDJ08767,2018-07-21,14:35:29,Lunch,TP,"[(Burger, 2), (Fries, 7), (Steak, 9), (Salad, 4)]",619.80,-37.821316,145.012274,0,11.859,16.359951
20,ORDK08729,2018-10-20,17:38:01,Dinner,BK,"[(Fish&Chips, 6), (Pasta, 9)]",457.50,-37.808165,144.972981,0,6.545,15.777474
21,ORDB01367,2018-11-20,18:38:52,Dinner,TP,"[(Shrimp, 7), (Pasta, 8), (Salmon, 10), (Fish&...",1218.00,-37.822139,145.015550,0,12.170,15.564740
22,ORDA06791,2018-09-20,16:37:10,Dinner,BK,"[(Shrimp, 6), (Pasta, 5)]",461.50,-37.819397,144.965224,0,7.796,14.519156
23,ORDA05490,2018-11-23,18:49:00,Dinner,BK,"[(Shrimp, 9), (Fish&Chips, 5)]",661.00,-37.813373,145.008762,0,3.554,10.058129
24,ORDJ07622,2018-12-24,19:49:51,Dinner,TP,"[(Salmon, 8), (Shrimp, 7)]",706.00,-37.818733,145.003881,1,10.959,14.534570
25,ORDA10400,2018-06-19,13:34:38,Lunch,BK,"[(Steak, 3), (Salad, 5), (Burger, 7), (Chicken...",470.00,-37.824005,145.002052,0,5.194,10.780248
26,ORDB09265,2018-10-23,17:48:10,Dinner,TP,"[(Fish&Chips, 1), (Shrimp, 6)]",359.00,-37.808466,144.948046,0,9.679,13.842466
27,ORDY01440,2018-05-15,12:23:39,Lunch,TP,"[(Salad, 5), (Burger, 3)]",179.00,-37.824365,144.954173,0,8.213,11.462362
28,ORDX06220,2018-03-20,10:32:06,Breakfast,BK,"[(Coffee, 1), (Pancake, 3), (Cereal, 2)]",122.25,-37.810551,144.955963,0,8.204,13.330472
29,ORDY00592,2018-08-07,15:16:03,Lunch,TP,"[(Burger, 3), (Chicken, 8), (Salad, 7), (Steak...",919.40,-37.816492,144.966926,0,7.845,11.955862
...,...,...,...,...,...,...,...,...,...,...,...,...
470,ORDK08431,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 10), (Cereal, 2), (Eggs, 5)]",394.50,-37.811851,144.967496,0,7.235,11.903098
471,ORDA03006,2018-01-03,08:00:00,None,BK,"[(Eggs, 4), (Coffee, 4), (Pancake, 4)]",0.00,-37.800756,145.018672,1,5.577,5.217972
472,ORDC02947,2018-08-21,15:36:20,Lunch,NS,"[(Fries, 8), (Chicken, 10)]",416.00,-37.820560,144.981360,1,9.638,14.844057
473,ORDC02567,2018-10-07,17:17:44,Dinner,NS,"[(Pasta, 6), (Fish&Chips, 1), (Shrimp, 3)]",362.00,-37.802221,144.965679,0,6.683,14.367322
474,ORDJ10488,2018-03-29,10:52:23,Breakfast,TP,"[(Coffee, 9), (Eggs, 9), (Cereal, 10), (Pancak...",548.25,-37.807049,144.958306,0,9.060,11.682699
475,ORDJ01084,2018-04-27,11:43:05,Breakfast,TP,"[(Pancake, 8), (Coffee, 5)]",231.50,-37.813471,144.965322,0,8.223,10.982636
476,ORDK10418,2018-09-13,16:27:02,Dinner,BK,"[(Fish&Chips, 6), (Salmon, 2), (Shrimp, 7), (P...",890.00,-37.800654,144.953847,0,8.621,15.294883
477,ORDA05741,2018-07-08,14:15:12,Lunch,BK,"[(Steak, 4), (Chicken, 6), (Fries, 1), (Burger...",601.00,-37.809131,144.932082,0,10.450,19.214546
478,ORDK09837,2018-02-09,09:10:59,Breakfast,BK,"[(Pancake, 4), (Cereal, 3), (Eggs, 9)]",358.00,-37.799308,144.959241,0,8.430,13.122579
479,ORDZ02741,2018-05-02,12:03:22,Lunch,NS,"[(Chicken, 7), (Fries, 5), (Burger, 9)]",563.00,-37.811330,144.966758,0,7.543,13.104878
480,ORDI10085,2018-09-08,16:16:54,Dinner,NS,"[(Fish&Chips, 8), (Pasta, 9), (Shrimp, 4)]",743.50,-37.819495,144.961651,1,8.911,17.164474
481,ORDC01047,2018-06-19,13:34:38,Lunch,NS,"[(Salad, 1), (Chicken, 8), (Steak, 2)]",363.20,-37.799659,144.924813,0,11.224,16.814399
482,ORDY04378,2018-01-01,08:00:00,None,TP,"[(Coffee, 1), (Cereal, 4), (Pancake, 7), (Eggs...",0.00,-37.821343,144.946356,1,9.039,5.541174
483,ORDX05552,2018-05-20,12:33:48,Lunch,BK,"[(Fries, 5), (Burger, 2), (Chicken, 1), (Salad...",257.20,-37.802040,144.957089,0,8.201,16.961391
484,ORDC00559,2018-08-24,15:46:28,Lunch,NS,"[(Steak, 6), (Salad, 7), (Fries, 3), (Burger, ...",835.40,-37.803995,144.936298,0,9.818,15.443582
485,ORDZ02142,2018-11-03,18:08:27,Dinner,NS,"[(Pasta, 10), (Shrimp, 7), (Salmon, 8), (Fish&...",1331.00,-37.799570,145.010850,0,10.042,17.880344
486,ORDK03685,2018-12-25,19:49:51,Dinner,BK,"[(Pasta, 10), (Salmon, 10), (Shrimp, 7), (Fish...",1203.00,-37.805095,144.968556,0,7.098,14.297638
487,ORDY01887,2018-06-22,13:34:38,Lunch,TP,"[(Burger, 3), (Steak, 2), (Fries, 3)]",219.00,-37.812283,144.962411,0,8.241,11.822815
488,ORDX08676,2018-08-27,15:56:37,Lunch,BK,"[(Fries, 1), (Steak, 1), (Chicken, 6), (Burger...",459.00,-37.820555,144.953218,0,9.022,15.561445
489,ORDC03279,2018-11-04,18:08:27,Dinner,NS,"[(Fish&Chips, 5), (Salmon, 5), (Shrimp, 2)]",488.00,-37.811465,144.952862,0,8.475,16.465577
490,ORDC06087,2018-11-13,18:28:43,Dinner,NS,"[(Pasta, 6), (Shrimp, 5)]",435.00,-37.811843,144.959875,0,7.916,13.780564
491,ORDI06677,2018-06-28,13:54:55,Lunch,NS,"[(Steak, 9), (Chicken, 5), (Salad, 3), (Fries,...",676.60,-37.811784,144.949121,0,8.809,14.066580
492,ORDZ03335,2018-12-29,20:00:00,Dinner,NS,"[(Shrimp, 7), (Fish&Chips, 8)]",658.00,-37.821610,144.943904,0,10.278,18.637709
493,ORDC00538,2018-08-04,15:05:54,Lunch,NS,"[(Salad, 2), (Chicken, 1), (Burger, 3), (Steak...",636.40,-37.803573,144.949700,0,8.338,15.374436
494,ORDY00697,2018-02-13,09:21:07,Breakfast,TP,"[(Pancake, 8), (Cereal, 2), (Coffee, 4)]",266.00,-37.802525,144.927087,0,11.619,13.657226
495,ORDY05278,2018-07-29,14:55:46,Lunch,TP,"[(Chicken, 10), (Salad, 4), (Fries, 5)]",448.80,-37.812505,144.965237,0,8.327,13.327510
496,ORDY06953,2018-02-26,09:51:32,Breakfast,TP,"[(Eggs, 10), (Pancake, 3)]",292.75,-37.810628,144.977580,0,9.161,11.125002
497,ORDI07439,2018-05-18,12:33:48,Lunch,NS,"[(Salad, 7), (Fries, 9), (Chicken, 2), (Steak,...",928.40,-37.803038,145.004495,0,9.360,15.206839
498,ORDB01388,2018-12-29,20:00:00,Dinner,TP,"[(Pasta, 2), (Fish&Chips, 7)]",300.00,-37.815854,144.937296,0,10.437,16.018943
499,ORDK05867,2018-06-27,13:44:47,Lunch,BK,"[(Fries, 2), (Steak, 3), (Burger, 2), (Chicken...",435.00,-37.807116,144.987663,0,5.505,10.758233

In [82]:
dirty_data['customerHasloyalty?'].value_counts()

0    439
1     61
Name: customerHasloyalty?, dtype: int64